.user-loader {
  background: white;
  border-radius: 1rem;
  width: 240px;
  height: 276px;
  position: relative;

  .cw-line {
    margin-bottom: 1rem;
    height: 1px;
    border: none;
    background-color: var(--color-grey-light-2);
    width: 118px;
    margin-left: auto;
    opacity: 0.2;
    margin-right: auto;
  }
}
