<div class="user-loader">
  <svg height="200" viewBox="0 0 240 120" width="240">
    <circle cx="120" cy="40" r="64" style="fill:#b5b5b5; opacity: .2"></circle>
    <rect
      height="20"
      rx="7"
      style="fill:#b5b5b5; opacity: .2"
      width="180"
      x="30"
      y="115"
    ></rect>
  </svg>
  <hr class="cw-line" />
  <svg height="30" viewBox="0 0 240 30" width="240">
    <rect
      height="30"
      rx="7"
      style="fill:#b5b5b5; opacity: .2"
      width="30"
      x="105"
      y="0"
    ></rect>
  </svg>
</div>
