@import '../../../../assets/sass/base/variables';
@import '../../../../assets/sass/abstracts/mixins';

.friends-search-page {
  @include min-width-page();
  display: flex;
  width: calc(100vw - #{$navigation-width});
  padding-top: 5rem;
  justify-content: center;

  &__left-wrapper {
    display: flex;
    flex-direction: column;
    width: 52%;
    height: fit-content;
    background: $color-bg-grey-footer;
  }

  &__right-wrapper {
    margin-left: 5rem;
    position: sticky;
    height: fit-content;
    top: 1rem;
  }
}
