<div class="post">
  <button *ngIf="isUserProfileOwner" class="remove-post" (click)="onRemovePost()">
    &#10006;
  </button>
  <div class="upper-wrapper">
    <div class="avatar-wrapper">
      <figure class="avatar">
        <img src="{{ post.avatarUrl }}" alt="">
      </figure>
    </div>
    <div class="content-wrapper">
      <p class="text-content">
        {{ post.content }}
      </p>
      <ng-container *ngIf="post.imageUrl != null">
        <img src="{{ post.imageUrl }}"
             alt="#"
             class="image"/>
      </ng-container>
    </div>
  </div>

  <div class="bottom-wrapper">
    <button (click)="onShowCommentsBtnClick()" class="comments">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
      <span>
        {{ post.commentsCount }}
      </span>
    </button>

    <button class="likes"
            [ngClass]="post.isPostLikedByUser ? 'unlike-post-btn' : 'like-user-post-btn'"
            (click)="onLikeOrUnlikePost()">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-heart"></use>
      </svg>
      <span>
        {{ post.likesCount }}
      </span>
    </button>
    <p class="date">
      {{ timePassed }}
    </p>
  </div>
</div>
