<div class="banned-participant">
  <figure class="avatar-wrapper">
    <a class="avatar-link" [routerLink]="['/app/profile', bannedParticipant.id]">
      <img src="{{ bannedParticipant.avatarUrl }}" alt="">
    </a>
  </figure>
  <a class="basic-data-link fr-hover-text-decoration" [routerLink]="['/app/profile',
  bannedParticipant.id]">
    {{ bannedParticipant.name }} {{ bannedParticipant.surname }}
  </a>
  <div class="controls-wrapper">
    <button (click)="unbanParticipant()" class="participant-unban-btn">
      Odblokuj
    </button>
  </div>
</div>
