@import "../../../../../../assets/sass/base/variables";

.friends-list {
  width: 100%;

  .flex-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
