<div class="friends-list">
  <ng-container *ngIf="(friendsLoaded$ | async); else friendListLoading">
    <ng-container *ngIf="(friendList$|async).length > 0; else friendListEmptyMsg">
      <app-friends-list-item *ngFor="let friend of (friendList$|async)"
                             (removeFriendEvent)="removeFriend($event)"
                             [friendData]="friend"></app-friends-list-item>
    </ng-container>
    <ng-template #friendListEmptyMsg>
      <span>
        Lista znajomych jest pusta
      </span>
    </ng-template>
  </ng-container>
  <ng-template #friendListLoading>
    <app-loader></app-loader>
  </ng-template>
</div>
