<div class="new-comment">
  <form class="form"
        #formElement>
    <textarea placeholder="Napisz komentarz"
              class="new-comment-ta"
              #textAreaElement
              [minLength]="1"></textarea>
    <div class="controls">
      <div class="inner-wrapper">
        <div class="file-btn-wrapper">
          <span class="icon fr-span-icon"></span>
          <input type="file"
                 name="filename"
                 #image
                 accept="image/jpeg, image/png"
                 style="opacity: 0;">
        </div>
        <button class="submit-btn"
                (click)="onSubmit()">Wyślij</button>
      </div>
    </div>
  </form>
</div>
