<div class="event-participant">
  <figure class="avatar-wrapper">
    <a class="avatar-link" [routerLink]="['/app/profile', eventParticipant.id]">
      <img src="{{ eventParticipant.avatarUrl }}" alt="">
    </a>
  </figure>
  <a class="basic-data-link" [routerLink]="['/app/profile', eventParticipant.id]">
    {{ eventParticipant.name }} {{ eventParticipant.surname }}
  </a>
  <div class="controls-wrapper">
    <button class="participant-ban-btn">
      Zablokuj
    </button>
    <button class="participant-remove-btn">
      Usuń
    </button>
  </div>
</div>
