@import "../../../../assets/sass/abstracts/mixins";

.messages {
  display: flex;
  //width: calc(100vw - #{$navigation-width});
  padding-top: 5rem;
  justify-content: center;
  @include min-width-page();

  .right-sec-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 25%;
  }

  .left-sec-wrapper {
    width: 50%;
  }
}
