@import '../../../../../../../../assets/sass/base/variables';

.item {
  display: flex;
  flex-direction: row;
  padding: .5rem 0;
  background: white;
  position: relative;

  .avatar {
    figure {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
      }
    }
  }

  a {
    text-decoration: none;
    color: #313131;
    align-self: center;
    font-size: .83rem;
    margin-left: .8rem;
  }

  hr{
    margin-left: 36%;
    opacity: .5;
  }
}
