<div class="events__all__item">
    <div class="events__all__item__avatar">
      <a href="#">
        <figure>
            <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="#">
        </figure>
      </a>
    </div>

    <div class="events__all__item__info">
      <a href="#" class="events__all__item__info__name">Spotkanie fanów TWD</a>

      <div class="events__all__item__info__location">
          <svg class="events__all__item__info__icon">
            <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-location"></use>
          </svg>
          <span>Aleja Lipowa 28a, Gdańsk</span>
      </div>

      <div class="events__all__item__info__date">
          <svg class="events__all__item__info__icon">
              <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-calendar"></use>
          </svg>
          <span>09.02.2019 21:45</span>
      </div>

      <div class="events__all__item__info__participants">
          <svg class="events__all__item__info__icon">
              <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-users1"></use>
          </svg>
          <span>17/25 uczestników</span>
      </div>

      <hr>

      <div class="events__all__item__controls">
        <a href="#">
          <span>wypisz się</span>
          <svg class="events__all__item__controls__icon">
              <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-cancel-circle"></use>
          </svg>
        </a>

        <a href="#">
          <span>wyłącz powiadomienia</span>
          <svg class="events__all__item__controls__icon">
              <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-notifications"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>