.content {
  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;

    &--aligned-left {
      align-items: flex-start;
    }

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;

    & > ::ng-deep *:nth-child(n + 1) {
      margin-left: 1rem;
    }
  }
}
