.user-event-list {
  width: 35rem;

  .controls-wrapper {
    position: sticky;
    top: 0;
    background: var(--color-bg-grey-footer);
    padding: 1rem 0;
    z-index: 1;
  }

  .events-controls {
    display: flex;

    .all-events-btn,
    .my-events-btn {
      width: 50%;
      height: 3rem;
      border: none;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem;
      color: white;
      transition: all 0.2s;
      background: rgba(#aaaaaa, 0.5);

      &:hover {
        background: var(--color-bg-light-grey-2);
        color: white;
      }
    }

    .all-events-btn {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
    }

    .my-events-btn {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }

    .active-btn {
      color: white;
      background: #00baff;

      &:hover {
        background: #00baff;
        color: white;
      }
    }

    .list-wrapper {
      width: 100%;
    }
  }
}
