<div class="user-event-list fr-p-b-1">
  <div class="controls-wrapper">
    <div class="events-controls">
      <button class="all-events-btn" (click)="showConcreteTypeOfEventsFromComponent('participating')"
              [ngClass]="{'active-btn': chosenSectionText ==
              'participating'}">
        Wszystkie wydarzenia
      </button>

      <button class="my-events-btn" (click)="showConcreteTypeOfEventsFromComponent('administered')"
              [ngClass]="{'active-btn': chosenSectionText ==
              'administered'}">
        Moje wydarzenia
      </button>
    </div>

    <app-events-mine-search (searchEventsSubmit)="searchEvents($event)"></app-events-mine-search>
  </div>

  <div class="list-wrapper">
    <ng-container [ngSwitch]="chosenSectionText">
      <app-user-participating-event-list *ngSwitchCase="'participating'"
      ></app-user-participating-event-list>
      <app-user-administered-events-list
        *ngSwitchCase="'administered'"></app-user-administered-events-list>
    </ng-container>
  </div>
</div>
