<div class="friends__list__item">
  <div class="friends__list__item__avatar">
    <a href="#">
      <figure>
        <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="">
      </figure>
    </a>
  </div>

  <div class="friends__list__item__info">
    <a href="#" class="friends__list__item__info__name">Joanna Kochanowska</a>
    <div class="friends__list__item__info__friends-counter">
      <svg class="friends__list__item__info__icon">
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-users1"></use>
      </svg>

      <span class="friends__list__item__info__additional-text">ma 3 znajomych</span>
    </div>

    <hr>

    <a href="#" class="friends__list__item__info__send-msg-btn">
      <span>napisz wiadomość</span>
      <svg class="friends__list__item__info__control-icon">
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
    </a>


  </div>
</div>
