<div class="wrapper">
  <ng-container *ngIf="(userIdLoaded$ | async) && connectedToStatusHub">
    <app-full-screen-image
      *ngIf="(fullScreenImageModalVisible$|async)"></app-full-screen-image>

    <app-friend-requests-modal *ngIf="friendRequestsModalOpened"
                               (closeModalEmitter)="closeFriendRequestsModal()">
    </app-friend-requests-modal>

    <app-navigation [friendRequestModalOpened]="friendRequestsModalOpened"
                    [receivedFriendRequestsAmount]="receivedFriendRequestsAmount"
                    (openFriendRequestsModalEmitter)="openFriendRequestsModal()"></app-navigation>

    <section class="subpage">
      <router-outlet></router-outlet>
    </section>
  </ng-container>
</div>
