<div class="wrapper">
  <ng-container *ngIf="(userIdLoaded$ | async) && connectedToStatusHub">
    <app-friend-requests-modal *ngIf="friendRequestsModalOpened">
    </app-friend-requests-modal>

    <app-navigation [friendRequestModalOpened]="friendRequestsModalOpened"
                    (openFriendRequestsModalEmitter)="openFriendRequestsModal()"
                    (closeFriendRequestsModalEmitter)="closeFriendRequestsModal()"></app-navigation>

    <section class="subpage">
      <router-outlet></router-outlet>
    </section>
  </ng-container>
</div>
