@import "../../../../../../assets/sass/base/variables";

.sent-friend-requests {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 1rem;
}
