@import '../../../assets/sass/base/variables';
@import '../../../assets/sass/components/popup-1';


.login-popup{
    background-image: linear-gradient(to bottom, #fff000, #00baff);
    &__login-form{
        form{
            height: 316px;  
        }

        &__email input, &__password input{
            width: 417px;
        }

        &__password input{
            margin-top: .5rem;
        }

        &__button{
            margin-top: 2.5rem;
            border: none;
            height: 3rem;
            width: 10rem;
            border-radius: 3rem;
            background: $color-blue;
            font-weight: 700;
            color: white;
            font-size: .85rem;

            &:hover{
                cursor: pointer;
            }

            &:focus{
                outline: none;
            }
        }

        &__pass-recovery{margin: 1rem 0 2rem 0;
            display: flex;

            &--text{
                font-size: .85rem;
                color: #757575;
            }

            &--link{
                color: $color-blue;
                margin-left: .3rem;
                font-size: .85rem;

                &:hover{
                    cursor: pointer;
                }
            }
        }

    }

    
    


}