@import '../../../../../../../assets/sass/base/variables';

.event-settings{
  position: absolute;
  top: 20rem;
  right: 0;
  width: 58%;
  height: -webkit-fill-available;
  z-index: 1000;
  background: $color-bg-light-grey;
}
