@import '../../../../../../../assets/sass/base/variables';


.profile-avatar {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -4rem;
  //-webkit-clip-path: circle(50% at 50% 50%);
  width: 13rem;
  height: 13rem;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  border: solid .3rem $color-white;
  display: flex;
  justify-content: center;

  img {
    height: 100%;
  }

}
