<div class="item">
    <div class="avatar">
        <a [routerLink]="['/app/profile', exemplaryMessage.senderId]">
          <figure>
              <img src="{{ exemplaryMessage.interlocutorAvatar }}" alt="">
          </figure>
        </a>
    </div>

    <a class="content" (click)="navigateToDialog()">
        <ng-container *ngIf="exemplaryMessage.writtenByRequestIssuer; else writtenByFriend">
          <div class="written-by-user-msg-wrapper">
            <span>
              {{ exemplaryMessage.content }}
            </span>
            <img class="own-avatar" src="{{ exemplaryMessage.avatarUrl }}" alt="">
          </div>
        </ng-container>
        <ng-template #writtenByFriend>
          <span>
           {{ exemplaryMessage.content }}
          </span>
        </ng-template>
    </a>
</div>
