<div class="item">
    <div class="avatar">
        <a href="#">
        <figure>
            <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="">
        </figure>
        </a>
    </div>

    <a class="content" routerLink="/app/dialog">
        <span>

             Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ad quaerat maiores ipsum accusantium pariatur magni! Ab ratione adipisci explicabo, velit, sunt illum fugiat recusandae magni eaque, animi vel laborum!


        </span>
    </a>

</div>
