<div class="basic-event-settings">
  <!--<ng-container *ngIf="loaded">
    <div class="settings-panel-wrapper">
      <form [formGroup]="eventBasicSettingsForm" class="event-creation-form">
        <div class="settings-panel-wrapper__controls-wrapper">
          <div class="settings-panel-wrapper__row">
            <label class="settings-panel-wrapper__label">
              Zdjęcie grupowe
            </label>
            <div class="settings-panel-wrapper__column-wrap&#45;&#45;aligned-left">
              <figure class="current-avatar">
                <img src="{{ eventData.avatarUrl }}" alt="">
              </figure>
              <input type="file"
                     name="avatar"
                     #avatar
                     accept="image/jpeg, image/png">
            </div>
          </div>
          <div class="settings-panel-wrapper__row">
            <label class="settings-panel-wrapper__label">
              Tło
            </label>
            <div class="settings-panel-wrapper__column-wrap&#45;&#45;aligned-left">
              <ng-container>
                <figure class="current-background" *ngIf="eventData.backgroundUrl; else nullBg">
                  <img src="{{ eventData.backgroundUrl }}" alt="">
                </figure>
              </ng-container>
              <ng-template #nullBg>
                <figure class="current-background" [ngStyle]="{ background: 'rgb(248, 248, 248)' }">
                </figure>
              </ng-template>
              <input type="file"
                     name="background"
                     #background
                     accept="image/jpeg, image/png">
            </div>
          </div>
          <div class="settings-panel-wrapper__row">
            <label class="settings-panel-wrapper__label" for="title">
              Nazwa
            </label>
            <input [ngClass]="{
                    'bordered-onError':
                    eventBasicSettingsForm.get('title').touched
                     && eventBasicSettingsForm.get('title').invalid
                   }"
                   [value]="eventData.title"
                   class="fr-input settings-panel-wrapper__input"
                   formControlName="title"
                   id="title"
                   placeholder="Nazwa"
                   type="text">
          </div>
          <div class="settings-panel-wrapper__row">
            <label class="settings-panel-wrapper__label" for="description">
              Opis
            </label>
            <textarea [ngClass]="{
                  'bordered-onError': eventBasicSettingsForm.get('description').touched && eventBasicSettingsForm.get('description').invalid
                 }"
                      [value]="eventData.description"
                      class="desc fr-input settings-panel-wrapper__textarea"
                      formControlName="description"
                      id="description"
                      placeholder="Opis"></textarea>
          </div>

          <div class="settings-panel-wrapper__row">
            <label class="settings-panel-wrapper__label" for="city">
              Miasto
            </label>
            <input [ngClass]="{
                  'bordered-onError': eventBasicSettingsForm.get('city').touched && eventBasicSettingsForm.get('city').invalid
                 }"
                   [value]="eventData.city"
                   class="city fr-input settings-panel-wrapper__input"
                   formControlName="city"
                   id="city"
                   placeholder="Miasto"
                   type="text">
          </div>

          <div class="settings-panel-wrapper__row">
            <label class="settings-panel-wrapper__label">
              Adres
            </label>
            <div class="settings-panel-wrapper__column-wrap">
              <input [ngClass]="{
                  'bordered-onError': eventBasicSettingsForm.get('street').touched
                  && eventBasicSettingsForm.get('street').invalid
                 }"
                     [value]="eventData.street"
                     class="street settings-panel-wrapper__input fr-input"
                     formControlName="street"
                     placeholder="Ulica"
                     type="text">

              <input [ngClass]="{
                  'bordered-onError': eventBasicSettingsForm.get('streetNumber').touched
                   && eventBasicSettingsForm.get('streetNumber').invalid
                 }"
                     [value]="eventData.streetNumber"
                     class="number settings-panel-wrapper__input fr-input"
                     formControlName="streetNumber"
                     placeholder="Numer"
                     type="text">
            </div>
          </div>

          <div class="settings-panel-wrapper__row">
            <label class="settings-panel-wrapper__label">
              Data
            </label>
            <div class="settings-panel-wrapper__column-wrap">
              <app-calendar (onSelectDateEvent)="onSelectDate($event)"
                            *ngIf="showCalendar"></app-calendar>
              <input (click)="toggleCalendar()"
                     [ngClass]="{
              'bordered-onError': eventBasicSettingsForm.get('date').touched &&
                eventBasicSettingsForm.get('date').invalid
              }"
                     [value]="eventData.date"
                     class="date settings-panel-wrapper__input fr-input"
                     formControlName="date"
                     id="birthday"
                     readonly="readonly"
                     type="text">

              <span
                class="custom-dropdown settings-panel-wrapper__dropdown hour">
              <select [ngClass]="{
              'bordered-onError': eventBasicSettingsForm.get('hour').touched
              && eventBasicSettingsForm.get('hour').invalid
             }" [value]="eventData.hour" class="settings-panel-wrapper__input"
                      formControlName="hour">
                <option hidden value="">Godzina</option>
                <option
                  *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,00]"
                  value="{{number}}">
                    {{number}}
                </option>
              </select>
            </span>

              <input [ngClass]="{
                'bordered-onError': eventBasicSettingsForm.get('minute').touched
                 && eventBasicSettingsForm.get('minute').invalid
               }"
                     [value]="eventData.minute"
                     class="minute settings-panel-wrapper__input fr-input"
                     formControlName="minute"
                     placeholder="Minuta"
                     type="number">
            </div>
          </div>

          <div class="settings-panel-wrapper__row">
            <label class="settings-panel-wrapper__label">
              Cena wejścia
            </label>
            <input [ngClass]="{
                  'bordered-onError': eventBasicSettingsForm.get('entryPrice').touched
                   && eventBasicSettingsForm.get('entryPrice').invalid
                 }"
                   [value]="eventData.entryPrice"
                   class="price settings-panel-wrapper__input fr-input"
                   formControlName="entryPrice"
                   placeholder="Cena wejścia"
                   type="number">
          </div>

          <div class="settings-panel-wrapper__row">
            <label class="settings-panel-wrapper__label">
              Ilość uczestników
            </label>
            <input [ngClass]="{
                  'bordered-onError': eventBasicSettingsForm.get('participantsAmount').touched
                  && eventBasicSettingsForm.get('participantsAmount').invalid
                 }"
                   [value]="eventData.participantsAmount"
                   class="participants-amount settings-panel-wrapper__input fr-input"
                   formControlName="participantsAmount"
                   placeholder="Maksymalna ilość uczestników"
                   type="number">
          </div>
        </div>
        <div class="submit-btn-wrapper">
          <button (click)="onBasicChangesFormSubmit()"
                  class="fr-btn-main-blue submit-btn">
            Zapisz
          </button>
        </div>
      </form>
    </div>
  </ng-container>-->
  <ng-container *ngIf="loaded">
    <app-settings-panel-wrapper>
      <form [formGroup]="eventBasicSettingsForm">
        <app-controls-wrapper-in-settings-panel (formSubmitEmitter)="onBasicChangesFormSubmit()">
          <app-row-in-settings-panel [label]="'Zdjęcie grupowe'">
            <app-row-content-in-settings-panel>
              <figure class="current-avatar">
                <img src="{{ eventData.avatarUrl }}" alt="">
              </figure>
              <input type="file"
                     name="avatar"
                     #avatar
                     accept="image/jpeg, image/png">
            </app-row-content-in-settings-panel>
          </app-row-in-settings-panel>

          <app-row-in-settings-panel [label]="'Tło'">
            <app-row-content-in-settings-panel>
              <ng-container *ngIf="eventData.backgroundUrl; else nullBg">
                <figure class="current-background">
                  <img src="{{ eventData.backgroundUrl }}" alt="">
                </figure>
              </ng-container>
              <ng-template #nullBg>
                <figure class="current-background" [ngStyle]="{ background: 'rgb(248, 248, 248)' }">
                </figure>
              </ng-template>
              <input type="file"
                     name="background"
                     #background
                     accept="image/jpeg, image/png">
            </app-row-content-in-settings-panel>
          </app-row-in-settings-panel>

          <app-row-in-settings-panel [label]="'Nazwa'">
            <app-row-content-in-settings-panel>
              <app-settings-panel-input [invalid]="eventBasicSettingsForm.get('title').touched
                     && eventBasicSettingsForm.get('title').invalid"
                                        [initValue]="eventData.title"
                                        formControlName="title"></app-settings-panel-input>
            </app-row-content-in-settings-panel>
          </app-row-in-settings-panel>

          <app-row-in-settings-panel [label]="'Opis'">
            <app-row-content-in-settings-panel>
              <app-settings-panel-textarea [invalid]="eventBasicSettingsForm.get('description').touched
                     && eventBasicSettingsForm.get('description').invalid"
                                           [initValue]="eventData.description"
                                           formControlName="description"></app-settings-panel-textarea>
            </app-row-content-in-settings-panel>
          </app-row-in-settings-panel>

          <app-row-in-settings-panel [label]="'Miasto'">
            <app-row-content-in-settings-panel>
              <app-settings-panel-input [invalid]="eventBasicSettingsForm.get('city').touched
                     && eventBasicSettingsForm.get('city').invalid"
                                        [initValue]="eventData.city"
                                        formControlName="city"></app-settings-panel-input>
            </app-row-content-in-settings-panel>
          </app-row-in-settings-panel>

          <app-row-in-settings-panel [label]="'Adres'">
            <app-row-content-in-settings-panel>
              <app-settings-panel-input [additionalStyles]="{width: '21vw'}"
                                        [invalid]="eventBasicSettingsForm.get('street').touched
                     && eventBasicSettingsForm.get('street').invalid"
                                        [initValue]="eventData.street"
                                        formControlName="street"></app-settings-panel-input>
              <app-settings-panel-input [additionalStyles]="{width: '7vw'}"
                                        [initValue]="eventData.streetNumber"
                                        [invalid]="eventBasicSettingsForm.get('streetNumber').touched
                     && eventBasicSettingsForm.get('streetNumber').invalid"
                                        formControlName="streetNumber"></app-settings-panel-input>
            </app-row-content-in-settings-panel>
          </app-row-in-settings-panel>

          <app-row-in-settings-panel [label]="'Data'">
            <app-row-content-in-settings-panel>
              <app-calendar (onSelectDateEvent)="onSelectDate($event)"
                            *ngIf="showCalendar"></app-calendar>

              <app-settings-panel-input [invalid]="eventBasicSettingsForm.get('date').touched
                     && eventBasicSettingsForm.get('date').invalid"
                                        [additionalStyles]="{width: '18vw'}"
                                        [initValue]="eventData.date"
                                        formControlName="date"></app-settings-panel-input>

              <app-settings-panel-dropdown [initValue]="eventData.hour"
                                           [invalid]="eventBasicSettingsForm.get('hour').touched
                     && eventBasicSettingsForm.get('hour').invalid"
                                           [options]="[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,00]"
                                           [placeholder]="'Godzina'"
                                           [additionalStyles]="{width: '8vw'}"
                                           formControlName="hour"></app-settings-panel-dropdown>

              <app-settings-panel-input [invalid]="eventBasicSettingsForm.get('minute').touched
                     && eventBasicSettingsForm.get('minute').invalid"
                                        [initValue]="eventData.minute"
                                        [additionalStyles]="{width: '8vw'}"
                                        formControlName="minute"></app-settings-panel-input>
            </app-row-content-in-settings-panel>
          </app-row-in-settings-panel>

          <app-row-in-settings-panel [label]="'Cena wejścia'">
            <app-row-content-in-settings-panel>
              <app-settings-panel-input [invalid]="eventBasicSettingsForm.get('entryPrice').touched
                     && eventBasicSettingsForm.get('entryPrice').invalid"
                                        [initValue]="eventData.entryPrice"
                                        formControlName="entryPrice"></app-settings-panel-input>
            </app-row-content-in-settings-panel>
          </app-row-in-settings-panel>

          <app-row-in-settings-panel [label]="'Maksymalna ilość uczestników'">
            <app-row-content-in-settings-panel>
              <app-settings-panel-input [invalid]="eventBasicSettingsForm.get('participantsAmount').touched
                     && eventBasicSettingsForm.get('participantsAmount').invalid"
                                        [initValue]="eventData.participantsAmount"
                                        formControlName="participantsAmount"></app-settings-panel-input>
            </app-row-content-in-settings-panel>
          </app-row-in-settings-panel>
        </app-controls-wrapper-in-settings-panel>
      </form>
    </app-settings-panel-wrapper>
  </ng-container>
</div>
