//colors
$color-white: #fff;
$color-bg-light-grey: #f8f8f8;
$color-bg-light-grey-2: #c6c6c6;
$color-bg-grey-footer: #fafafa;
$color-grey-light: #aaaaaa;
$color-grey-light-2: #b5b5b5;
$color-grey-dark: #3f3f3f;
$color-grey-dark-2: #4f4f4f;
$color-grey-for-disabled-btn: #787878;
$color-blue: #00baff;
$color-yellow: #fff000;
$color-pink: #e83962;
$color-pink-lighter: #e84c7e;
$color-red-for-invalid-input: #ff334b;

//custom-scrollbars
$custom-scroll-1-color: #afafaf;
$custom-scroll-1-hover-color: #8d8d8d;

//sizes
$navigation-width: 20rem;
