<div class="comment-item fr-m-t-2">
<!--  <button *ngIf="isUserProfileOwner" class="remove-post" (click)="onRemoveComment()">
    &#10006;
  </button>-->
  <div class="upper-wrapper">
    <div class="avatar-wrapper">
      <figure class="avatar">
        <img src="{{ comment.authorAvatarUrl }}" alt="user's avatar">
      </figure>
    </div>
    <div class="content-wrapper">
      <p class="text-content">
        {{ comment.content }}
      </p>
      <!--<img *ngIf="comment.imagePath != null"
           src="http://localhost:5000/{{ post.imagePath }}"
           alt="#"
           class="image"/>-->
    </div>
  </div>

  <div class="bottom-wrapper">
    <button (click)="onShowCommentsBtnClick()" class="comments">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
      <span>
        {{ comment.commentsCount }}
      </span>
    </button>

    <button class="likes"
            [ngClass]="comment.isCommentLikedByUser ? 'unlike-post-btn' : 'like-user-post-btn'"
            (click)="onLikeOrUnlikePost()">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-heart"></use>
      </svg>
      <span>
        {{ comment.likesCount }}
      </span>
    </button>
    <p class="date">
      {{ timePassed }}
    </p>
  </div>

  <ng-container *ngIf="comment.commentsCount == 0">
    <div class="comment-responds-wrapper fr-m-t-1">
      <button class="load-comment-responds-btn">
        Pokaż {{ comment.commentsCount }} {{ [2,3,4].indexOf(comment.commentsCount) === -1 ? 'komentarzy' : 'komentarze' }}
      </button>
    </div>
  </ng-container>
</div>
