@import '../../../assets/sass/base/variables';
@import '../../../assets/sass/components/dropdown';
@import '../../../assets/sass/components/radiobutton';
@import '../../../assets/sass/components/popup-1';
  
.joinup-popup{
    animation: popup-anim-right .5s;

    &__joinup-form{
        form{
            height: 47%;
        }

        &__name, &__surname{
            width: 201px;
        }

        &__name{
            margin-right: .5rem;
        }

        &__surname{
            margin-left: .5rem;
        }

        &__birthday{
            margin-top: .7rem;
            display: flex;
            width: 417px;
            justify-content: space-between;

            &-year{
                width: 147px;
            }

            &-month{
                width: 148px;
                select{
                    width: inherit;
                }
            }

            &-day{
                   width: 101px;

                select{
                    width: inherit;
                    &::after{
                        right: 1.45em !important;
                    }
                }
               
            }

            &-month, &-day{
                &::after{
                    top: 40%;
                }
            }
        }

        &__email input, &__password input{
            width: 417px;
        }

        &__email{
            margin-top: .7rem;
        }

        &__password{
            margin-top: .5rem;
        }

        &__gender{
            display: flex;
            margin-top: 1.5rem;
            width: 417px;

            p{
                margin-right: 1.5rem;
                font-size: .85rem;
            }

            label:nth-of-type(1){
                margin-right: 1rem;
            }

            .checkmark{
                top: -0.2rem !important;
            }
        }
        


        &__button{
            margin-top: 2.5rem;
            border: none;
            height: 3rem;
            width: 10rem;
            border-radius: 3rem;
            background: $color-blue;
            font-weight: 700;
            color: white;
            font-size: .85rem;

            &:hover{
                cursor: pointer;
            }

            &:focus{
                outline: none;
            }
        }

    }
}
