@import "../../../../../../assets/sass/base/variables";
@import "../../../../../../assets/sass/components/dropdown";
@import "../../../../../../assets/sass/components/fr-input";

.new-avatar-modal {
  background-color: $color-bg-light-grey;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.16);
  padding: 1rem;
  position: relative;
  text-align: center;
  transition: all 0.3s;
  width: 50%;
  min-height: 7rem;

  .avatar-wrap {
    img {
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
    }
  }

  .bottom-wrap {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;

    .submit-btn {
      width: 6rem;
    }
  }
}
