<div class="friend-messages">
  <div class="message-group">
    <div class="friend-data">
      <figure>
        <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="">
      </figure>
    </div>
    <div class="message-items">
      <app-message-in-chat [messageContent]="'lorem dsadasddsgs sadasd asda'" [messageStyles]="{marginLeft: '1rem', marginRight: '0', marginTop: '0'}" ></app-message-in-chat>
      <app-message-in-chat [messageContent]="'lorem dsadasddsgs sadasd asdafsa asdas dasda sdawdadsaw sdasd'" [messageStyles]="{marginLeft: '1rem', marginRight: '0', marginTop: '.5rem'}" ></app-message-in-chat>
    </div>
  </div>
</div>
