<div class="event-info-panel">
  <ng-container *ngIf="isEventAdmin">
    <div class="event-settings-controls">
      <button (click)="navigateToSettings()"
              class="btn">
        <span class="icon fr-span-icon"></span>
      </button>
    </div>
  </ng-container>

  <div class="wrapper">
    <app-event-avatar [eventId]="(eventData$|async)?.id"
                      [avatarUrl]="(eventData$|async)?.avatarUrl"
                      [activeSettings]="activeSettings"></app-event-avatar>

    <div class="basic-info">
      <p class="title">
        {{ (eventData$|async)?.title }}
      </p>

      <div class="location">
        <span class="icon fr-span-icon"></span>
        <label>{{ (eventData$|async)?.street }} {{
          (eventData$|async)?.streetNumber }}, {{
          (eventData$|async)?.city }}</label>
      </div>

      <div class="date">
        <span class="icon fr-span-icon"></span>
        <label>{{ (eventData$|async)?.date }}</label>
      </div>

      <div class="participants">
        <span class="icon fr-span-icon"></span>
        <label>{{ (eventData$|async)?.currentParticipantsAmount }}/{{
          (eventData$|async)?.participantsAmount }} uczestników</label>
      </div>

      <hr>

      <app-event-info-panel-controls
        [eventId]="eventId"></app-event-info-panel-controls>
    </div>
  </div>
</div>

