<div class="event-info-panel">
  <div *ngIf="settingsVariantModalOpened"
       (mouseover)="cursorOverVariantModalOn()"
       (mouseleave)="cursorOverVariantModalOff()"
       class="settings-variant-modal">
    <button (click)="openBasicEventSettings()"
            class="btn">
      Podstawowe
    </button>
    <hr>
    <a routerLink="settings" class="btn">
      Rozszerzone
    </a>
  </div>

  <div class="event-settings-controls">
    <button *ngIf="activeSettings" class="accept-changes-btn">
      <svg>
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-checkmark"></use>
      </svg>
    </button>
    <button *ngIf="!activeSettings; else closeBasicEventSettingsBtn"
            (mouseover)="openEventSettingsModal()"
            (mouseleave)="closeEventSettingsModal()"
            class="btn">
      <svg>
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-cog"></use>
      </svg>
    </button>
    <ng-template #closeBasicEventSettingsBtn>
      <button class="btn" (click)="closeBasicEventSettings()">
        <svg>
          <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-cancel-circle"></use>
        </svg>
      </button>
    </ng-template>
  </div>

  <div class="wrapper">
    <app-event-avatar [avatarUrl]="eventData.avatarUrl" [activeSettings]="activeSettings"></app-event-avatar>

    <div class="basic-info">
      <p class="title">
        {{ eventData.title }}
      </p>

      <div class="location">
        <svg class="icon">
          <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-location"></use>
        </svg>
        <span>{{ eventData.street }}, {{ eventData.streetNumber }}, {{ eventData.city }}</span>
      </div>

      <div class="date">
        <svg class="icon">
          <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-calendar"></use>
        </svg>
        <span>{{ eventData.date }}</span>
      </div>

      <div class="participants">
        <svg class="icon">
          <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-users1"></use>
        </svg>
        <span>17/25 uczestników</span>
      </div>

      <hr>

      <div class="controls">
        <a href="#">
          <span>wypisz się</span>
          <svg class="icon">
            <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-cancel-circle"></use>
          </svg>
        </a>

        <a href="#">
          <span>wyłącz powiadomienia</span>
          <svg class="icon">
            <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-notifications"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

