<div *ngIf="postDataLoaded" class="user-post">
  <!--&lt;!&ndash;<button *ngIf="isUserProfileOwner" class="remove-post" (click)="onRemovePost()">
    &#10006;
  </button>&ndash;&gt;
  <div class="upper-wrapper">
    <div class="avatar-wrapper">
      <figure class="avatar">
        <img src="{{ postData.avatarUrl }}" alt="user's avatar">
      </figure>
    </div>
    <div class="content-wrapper">
      <p class="text-content">
        {{ postData.content }}
      </p>
      <img *ngIf="postData.imagePath != null"
           src="http://localhost:5000/{{ postData.imagePath }}"
           alt="#"
           class="image"/>
    </div>
  </div>

  <div class="bottom-wrapper">
    <button (click)="onShowCommentsBtnClick()" class="comments">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
      <span>
        {{ postData.commentsCount }}
      </span>
    </button>

    <button class="likes"
            [ngClass]="postData.isPostLikedByUser ? 'unlike-post-btn' : 'like-user-post-btn'"
            (click)="onLikeOrUnlikePost()">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-heart"></use>
      </svg>
      <span>
        {{ postData.likesCount }}
      </span>
    </button>
    <p class="date">
      {{ timePassed }}
    </p>
  </div>-->
  <app-post-item ></app-post-item>
</div>
