@import '../../../../../../../../assets/sass/base/variables';

.participant{
  display: flex;
  min-width: 25rem;
  width: 28vw;
  background: white;
  padding: 1rem;
  border-radius: 3rem;
  position: relative;

  .avatar-wrapper{
    width: 6rem;
    height: 6rem;

    .avatar-link img{
      height: 100%;
      border-radius: 50%;
    }
  }

  .basic-data-link{
    margin-left: 1rem;
    font-size: .85rem;
    margin-top: 1rem;
    color: $color-blue;
    text-decoration: none;
  }

  .controls-wrapper{
    position: absolute;
    right: 2rem;
    transform: translateY(25%);

    &::ng-deep button:not(:first-child){
      margin-top: 1rem;
    }
  }
}
