@import '../../../../../../../../assets/sass/base/variables';

.participant{
  display: flex;
  min-width: 26rem;
  background: white;
  padding: 1rem;
  border-radius: 3rem;
  position: relative;
  justify-content: space-between;

  .md-wrap{
    width: 75%;
    display: flex;
  }

  .avatar-wrapper{
    width: 6rem;
    height: 6rem;

    .avatar-link img{
      height: 100%;
      border-radius: 50%;
    }
  }

  .basic-data-link{
    margin-left: 1rem;
    font-size: .85rem;
    margin-top: 1rem;
    color: $color-blue;
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-word;
  }

  .controls-wrapper{
    width: 25%;
    transform: translateY(10px);

    ::ng-deep button{
      margin-bottom: .5rem;
    }
  }
}
