.participant {
  display: flex;
  min-width: 26rem;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  justify-content: space-between;

  .avatar-wrapper {
    width: 6rem;
    height: 6rem;

    .avatar-link img {
      height: 100%;
      border-radius: 50%;
    }
  }

  .basic-data-link {
    font-size: 0.85rem;
    color: var(--color-blue);
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-word;
  }

  .left-wrap {
    width: 70%;
    position: relative;
  }

  .cw-line {
    margin-top: 1.5rem;
    height: 1px;
    border: none;
    background-color: #b5b5b5;
    width: 100%;
    opacity: 0.2;
  }

  .controls-wrapper {
    margin-top: 1rem;
    display: flex;

    ::ng-deep button {
      margin-right: 0.5rem;
    }
  }
}
