<div class="photos">
  <ng-container *ngIf="loaded$ | async">
    <ng-container *ngIf="(photos$ | async).length > 0; else noPhotos">
      <app-photos-item
        *ngFor="let photo of photos$ | async"
        [chosenSubpage]="chosenSubpage"
        [editable]="editable"
        (deleteEventPhotoEmitter)="deleteEventPhoto($event)"
        (deleteUserPhotoEmitter)="deleteUserPhoto($event)"
        (openInModalEmitter)="openImageInModal($event)"
        [photo]="photo"
      ></app-photos-item>
    </ng-container>
    <ng-template #noPhotos>
      <div class="no-photos-wrap">
        <span class="fr-default-smaller-font">
          Lista zdjęć jest pusta
        </span>
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="!(loaded$ | async) || (loading$ | async)">
    <app-loader></app-loader>
  </ng-container>
</div>
