@import '../../../../../assets/sass/base/variables';

.search-events{
    background: $color-bg-grey-footer;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}