<section class="suggested-events-panel">
  <app-main-panel
    [panelContent]="{
      title: 'Wydarzenia w twoim mieście',
      link: null,
      iconClass: 'icon-location',
      marginTop: true}"
    [contentColumned]="true">
    <app-user-event-item *ngFor="let event of (exemplaryEvents$|async); let i
     = index"
                         [styles]="{padding: '0 .5rem'}"
                         [showControls]="false"
                         [eventData]="event"></app-user-event-item>
  </app-main-panel>
</section>
