.suggested-events-panel {
  margin-top: 3rem;
  width: 100%;

  .line {
    width: 85%;
  }

  .intro-text-wrapper {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    .location-icon {
      display: inline-block;
      opacity: 0.8;
      width: 2rem;
      height: 2rem;
      background-image: url("../../../../../../assets/images/icon/location.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .text {
      color: var(--color-grey-dark);
      margin-left: 0.5rem;
    }
  }
}
