<div class="item">
  <div class="avatar">
    <a href="#">
      <figure class="avatar">
        <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="">
      </figure>
    </a>
  </div>

  <div class="info">
    <a href="#" class="name">Spotkanie fanów TWD</a>

    <div class="location">
      <svg class="icon">
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-location"></use>
      </svg>
      <span>Aleja Lipowa 28a, Gdańsk</span>
    </div>

    <div class="date">
      <svg class="icon">
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-calendar"></use>
      </svg>
      <span>09.02.2019 21:45</span>
    </div>

    <div class="participants">
      <svg class="icon">
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-users1"></use>
      </svg>
      <span>17/25 uczestników</span>
    </div>
  </div>
</div>
