<div class="new-comment">
  <form class="new-comment__form" (submit)="onSubmit($event)">
    <textarea placeholder="Napisz komentarz"
              #textAreaElement
              [minLength]="1"></textarea>
    <div class="controls">
      <div class="inner-wrapper">
        <div class="file-btn-wrapper">
          <span class="icon fr-span-icon"></span>
          <input type="file"
                 name="filename"
                 #image
                 accept="image/jpeg, image/png"
                 style="opacity: 0;">
        </div>
      </div>
    </div>
  </form>
</div>
