<aside #panel class="event-search-panel">
  <div class="inner-wrapper">
    <div #formControls class="controls fr-p-2">
      <form (ngSubmit)="onSubmit()"
            [formGroup]="searchForm"
            class="form">
        <div class="row">
          <input class="fr-input fr-input--title"
                 formControlName="title"
                 placeholder="Nazwa"
                 type="text">
        </div>

        <div class="row">
          <input class="fr-input fr-input--city"
                 formControlName="city"
                 placeholder="Miasto"
                 type="text">
        </div>

        <div class="row fr-flex-column fr-input--address">
          <label class="input-label">Adres</label>
          <div class="fr-flex-row">
            <input class="fr-input fr-input--street"
                   formControlName="street"
                   placeholder="Ulica"
                   type="text">
            <input class="fr-input fr-input--street-number"
                   formControlName="streetNumber"
                   placeholder="Numer"
                   type="text">
          </div>
        </div>

        <div class="row fr-flex-column">
          <label class="input-label">Cena wejścia</label>
          <div class="fr-flex-row">
            <input class="fr-input fr-input--price-min"
                   formControlName="entryPriceMin"
                   placeholder="Od"
                   type="text">
            <input class="fr-input fr-input--price-max"
                   formControlName="entryPriceMax"
                   placeholder="Do"
                   type="text">
          </div>
        </div>

        <div class="row fr-flex-column">
          <label class="input-label">
            Ilość uczestników
          </label>
          <div class="fr-flex-row">
            <input class="fr-input fr-input--participants-min"
                   formControlName="participantsAmountMin"
                   placeholder="Od"
                   type="text">
            <input class="fr-input fr-input--participants-max"
                   formControlName="participantsAmountMax"
                   placeholder="Do"
                   type="text">
          </div>
        </div>

        <div class="row">
          <input class="fr-input fr-input--date"
                 formControlName="date"
                 placeholder="Data"
                 type="text">
        </div>

        <button class="fr-btn-main-blue fr-m-t-2" type="submit">
          Szukaj
        </button>
      </form>
    </div>

    <button #toggleBtn
            (click)="onToggleBtnClick()"
            class="toggle-btn">
      <ng-container *ngIf="eventSearchPanelExpanded">
        &#8250;
      </ng-container>
      <ng-container *ngIf="!eventSearchPanelExpanded">
        &#8249;
      </ng-container>
    </button>
  </div>
</aside>
