@import '../../../../../../assets/sass/base/variables';

.event-search-panel{
  height: 100vh;
  width: 2rem;
  transition: .255s width;
  position: fixed;
  right: 0;
  top: 0;
  background: $color-bg-grey-footer;
  z-index: 10;

  .controls{
    visibility: hidden;
  }

  .form{
    display: flex;
    flex-direction: column;

    .row{
      margin-top: 1rem;

      .input-label{
        font-size: .8rem;
        margin-bottom: .3rem;
      }

      .fr-input{
        &--street{ width: 70%; }
        &--street-number{width: 30%;}

        &--title, &--city, &--date{
          width: 100%;
        }

        &--participants-min, &--participants-max, &--price-min, &--price-max{
          width: 50%;
        }

        &--street-number, &--participants-max, &--price-max{
          margin-left: 1rem;
        }
      }
    }
  }

  .inner-wrapper{
    width: 100%;
    height: 100%;
    position: relative;

    .toggle-btn{
      width: 3rem;
      height: 3rem;
      background: white;
      border: none;
      border-radius: 50%;
      transform: translateX(-50%);
      top: 50%;
      position: absolute;
      font-size: 2rem;
    }
  }
}
