@import '../../../../../../assets/sass/components/new-post';

.new-post-or-msg{
  width: 560px;

  form{
    textarea{
      width: 38em;
    }

    div{
      .file-btn-wrapper{
        input{
          top: 4px;
        }
      }
    }
  }
}
