.item {
  display: flex;
  flex-direction: row;
  position: relative;

  .left-wrap {
    width: 18%;
    min-width: 3.5rem;
  }

  .right-wrap {
    width: 82%;
  }

  .avatar {
    figure {
      width: 3.1rem;
      height: 3.1rem;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
      }
    }
  }

  .user-data {
    display: block;
    text-decoration: none;
    color: var(--color-blue);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 500;
    word-break: break-word;
  }

  .content {
    display: block;
    width: 100%;
    background: var(--color-bg-grey-footer);
    border-radius: 1rem;
    padding: 10px 1rem 10px 1rem;
    text-decoration: none;
    min-height: 3rem;
    margin-top: 8px;
    position: relative;

    .written-by-user-msg-wrapper {
      position: relative;
      .own-avatar {
        width: 2rem;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .msg-text-content {
      text-decoration: none;
      font-size: 0.8rem;
      word-break: break-all;
      color: var(--color-grey-dark);
      transition: all 0.1s;
      position: relative;
    }

    .image-wrap-in-cont {
      display: flex;
      align-items: center;
      height: 18px;

      &--under-content {
        margin-top: 5px;
      }

      &--centered {
        top: 5px !important;
        bottom: auto;
      }

      .image-in-dialog-icon {
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%23b5b5b5' viewBox='0 0 32 32'%3E%3Ctitle%3Efile-picture%3C/title%3E%3Cpath d='M26 28h-20v-4l6-10 8.219 10 5.781-4v8z'%3E%3C/path%3E%3Cpath d='M26 15c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3c1.657 0 3 1.343 3 3z'%3E%3C/path%3E%3Cpath d='M28.681 7.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378 0-2.5 1.121-2.5 2.5v27c0 1.378 1.122 2.5 2.5 2.5h23c1.378 0 2.5-1.122 2.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841zM24.543 5.457c0.959 0.959 1.712 1.825 2.268 2.543h-4.811v-4.811c0.718 0.556 1.584 1.309 2.543 2.268zM28 29.5c0 0.271-0.229 0.5-0.5 0.5h-23c-0.271 0-0.5-0.229-0.5-0.5v-27c0-0.271 0.229-0.5 0.5-0.5 0 0 15.499-0 15.5 0v7c0 0.552 0.448 1 1 1h7v19.5z'%3E%3C/path%3E%3C/svg%3E");
      }

      .text {
        font-size: 0.6rem;
        margin-left: 3px;
        color: var(--color-grey-light-2);
      }
    }
  }
}
