<div class="profile__main-content__friends">
  <div class="profile__main-content__friends__header">
    <svg>
      <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-users1"></use>
    </svg>
    <a routerLink="/app/friends" class="section-link">Znajomi</a>
  </div>
  <div class="profile__main-content__friends__down">
    <a href="#" class="profile__main-content__friends__item">
      <figure class="friends__avatar">
        <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="">
      </figure>
    </a>
  </div>
</div>
