<div class="non-participant-controls">
  <ng-container *ngIf="isParticipationRequestSentLoaded$|async">
    <ng-container *ngIf="(isParticipationRequestSent$|async); else noSentRequest">
      <button class="non-participant-controls__btn--remove" (click)="onRemoveRequestBtnClick()">
        <span>anuluj wniosek</span>
      </button>
    </ng-container>
    <ng-template #noSentRequest>
      <button class="non-participant-controls__btn--send" (click)="onJoinUpBtnClick()">
        <span>zgłoś udział</span>
      </button>
    </ng-template>
  </ng-container>
</div>
