<div class="comments-list">
  <ng-container *ngIf="commentsLoaded$ | async; else loader">
    <app-comment-item
      *ngFor="let comment of comments$ | async"
      (actResponseToCommentEmitter)="activateResponseToCommentTyping($event)"
      (likeEmitter)="like($event)"
      (unlikeEmitter)="unlike($event)"
      [userId]="userId"
      [privilegedToDeleteRelatedEntries]="privilegedToDeleteRelatedEntries"
      [comment]="comment"
    >
    </app-comment-item>
  </ng-container>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
