@import '../../../../../../../assets/sass/base/variables';

.base-data-panel{
  width: 100%;

  .upper-wrapper{
    width: 100%;
    height: 3rem;
    position: relative;

    .back-btn{
      border: 0;
      outline: none;
      background: none;
      width: 20%;
      transition: .255s background;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 2rem;

      &:hover{
        background: rgba($color-bg-light-grey-2, .3);
      }

      .back-arrow{
        font-size: 1.5rem;
        position: absolute;
        color: $color-bg-light-grey-2;
        top: 8px;
      }

      .base-avatar{
        width: 2rem;
        border-radius: 50%;
        margin-left: 1.5rem;
      }

      .base-title{
        margin-left: .5rem;
      }
    }
  }
}
