<div @anim class="joinup-page">
  <registration-success-pop-up
    *ngIf="onRegistrationSuccessPopupVisibility"
    (closeEventCreationPopup)="onRegistrationSuccessPopupVisibility = false;"></registration-success-pop-up>

  <a routerLink="/" class="logo">
    <img src="../../../../assets/images/logo-white.png" alt="Friendy logo" draggable="none">
  </a>

    <form class="joinup-form" [formGroup]="joinUpForm">
      <div class="base">
        <input class="name fr-input"
               formControlName="name"
               placeholder="Imię"
               name="given-name"
               autofocus
               type="text"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('name').touched && joinUpForm.get('name').invalid
               }">

        <input class="surname fr-input"
               name="surname"
               formControlName="surname"
               placeholder="Nazwisko"
               type="text"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('surname').touched && joinUpForm.get('surname').invalid
               }">
        <div>
          <input class="city fr-input"
                 formControlName="city"
                 name="city"
                 placeholder="Miasto"
                 type="text"
                 [ngClass]="{
                'bordered-onError': joinUpForm.get('city').touched && joinUpForm.get('city').invalid
               }">
        </div>
      </div>
      <div class="birthday">
        <app-calendar *ngIf="calendarVisible"
                      (onSelectDateEvent)="onSelectDateEvent($event)"></app-calendar>

        <input class="city fr-input"
               formControlName="birthday"
               placeholder="Data urodzenia"
               type="text"
               (focusin)="setCalendarVisible()"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('birthday').touched && joinUpForm.get('birthday').invalid
               }">
        <span class="fr-span-icon birthday__calendar-icon"></span>
      </div>

      <div class="gender">
        <span class="gender__title">Płeć</span>
        <div class="gender__inner-wrapper"
             [ngClass]="{
                'bordered-onError': joinUpForm.get('gender').touched && joinUpForm.get('gender').invalid
               }">
          <label class="container">mężczyzna
            <input checked="checked" formControlName="gender" value="male" type="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">kobieta
            <input value="female" formControlName="gender" type="radio">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="email">
        <input formControlName="email"
               class="fr-input"
               placeholder="Email"
               type="email"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('email').touched && joinUpForm.get('email').invalid
               }">
        <span class="invalid-input-span"
          *ngIf="!emailInputAvailability && joinUpForm.get('email').touched && joinUpForm.get('email').invalid">
          Email jest zarejestrowany
        </span>
      </div>

      <div class="password">
        <input formControlName="password"
               placeholder="Hasło"
               class="fr-input"
               type="password"
               (change)="checkPassword()"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('password').touched && joinUpForm.get('password').invalid
               }">
        <ng-container *ngIf="joinUpForm.get('password').touched && joinUpForm.get('password').invalid">
          <span *ngFor="let error of passwordInputErrors" class="invalid-input-span">
            {{ error }}
          </span>
        </ng-container>
      </div>

      <button class="submit-button"
              [disabled]="joinUpForm.invalid"
              (click)="onSubmit()"
              type="submit">Zarejestruj się</button>
    </form>

</div>
