<div @anim class="joinup-page">
  <registration-success-pop-up
    *ngIf="this.onRegistrationSuccessPopupVisibility"
    (closeEventCreationPopup)="this.onRegistrationSuccessPopupVisibility = false;"
  >
  </registration-success-pop-up>

  <a routerLink="/" class="logo">
    <img src="../../../../assets/images/logo-white.png" alt="Friendy logo" draggable="none">
  </a>

  <div class="joinup-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="joinUpForm">
      <div class="base">
        <input class="name"
               formControlName="name"
               placeholder="Imię"
               name="name"
               type="text"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('name').touched && joinUpForm.get('name').invalid
               }">

        <input class="surname"
               formControlName="surname"
               placeholder="Nazwisko"
               type="text"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('surname').touched && joinUpForm.get('surname').invalid
               }">
        <div>
          <input class="city"
                 formControlName="city"
                 placeholder="Miasto"
                 type="text"
                 [ngClass]="{
                'bordered-onError': joinUpForm.get('city').touched && joinUpForm.get('city').invalid
               }">
        </div>
      </div>
      <div class="birthday">
        <input class="birthday__year"
               formControlName="birthYear"
               placeholder="Rok urodzin"
               type="number"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('birthYear').touched && joinUpForm.get('birthYear').invalid
               }">

        <span class="custom-dropdown birthday__month">
              <select formControlName="birthMonth" [ngClass]="{
                'bordered-onError': joinUpForm.get('birthMonth').touched && joinUpForm.get('birthMonth').invalid
               }">
              <option hidden value="">Miesiąc</option>
              <option value="1">styczeń</option>
              <option value="2">luty</option>
              <option value="3">marzec</option>
              <option value="4">kwiecień</option>
              <option value="5">maj</option>
              <option value="6">czerwiec</option>
              <option value="7">lipiec</option>
              <option value="8">sierpień</option>
              <option value="9">wrzesień</option>
              <option value="10">październik</option>
              <option value="11">listopad</option>
              <option value="12">grudzień</option>
              </select>
          </span>
        <span class="custom-dropdown birthday__day">
              <select formControlName="birthDay" [ngClass]="{
                'bordered-onError': joinUpForm.get('birthDay').touched && joinUpForm.get('birthDay').invalid
               }">
              <option hidden value="">Dzień</option>
              <option
                *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]"
                value="{{number}}">
                  {{number}}
              </option>
              </select>
          </span>
      </div>

      <div class="gender">
        <p>Twoja płeć</p>
        <div class="gender__inner-wrapper"
             [ngClass]="{
                'bordered-onError': joinUpForm.get('gender').touched && joinUpForm.get('gender').invalid
               }">
          <label class="container">mężczyzna
            <input checked="checked" formControlName="gender" value="male" type="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">kobieta
            <input value="female" formControlName="gender" type="radio">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="email">
        <input formControlName="email"
               placeholder="Email"
               type="email"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('email').touched && joinUpForm.get('email').invalid
               }">
        <span class="invalid-input-span"
          *ngIf="!emailInputAvailability && joinUpForm.get('email').touched && joinUpForm.get('email').invalid">
          Email jest zarejestrowany
        </span>
      </div>

      <div class="password">
        <input formControlName="password"
               placeholder="Hasło"
               type="password"
               [ngClass]="{
                'bordered-onError': joinUpForm.get('password').touched && joinUpForm.get('password').invalid
               }">
      </div>

      <button class="submit-button"
              [disabled]="joinUpForm.invalid"
              type="submit">Zarejestruj się</button>
    </form>
  </div>
</div>
