<section class="event-participants">
  <app-main-panel
    [panelContent]="{
      title: 'Uczestnicy',
      link: this.activatedRoute + '/participants',
      iconClass: 'people-icon',
      marginTop: true}"
    [contentColumned]="false"
    [forSubjectEntries]="true"
    [panelStyles]="{ width: '17rem' }">
    <ng-container *ngIf="(eventExemplaryParticipantsLoaded$ | async); else loader">
      <ng-container *ngIf="(eventExemplaryParticipants$ | async).length > 0; else noParticipants;">
        <app-event-participants-item *ngFor="let eventParticipant of (eventExemplaryParticipants$ | async)"
                                     [eventParticipant]="eventParticipant"></app-event-participants-item>
      </ng-container>
      <ng-template #noParticipants>
          <span class="fr-default-smaller-font">
            Lista użytkowników jest pusta
          </span>
      </ng-template>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </app-main-panel>
</section>
