@import '../../../../../../../assets/sass/base/variables';

.received-friend-request-list{
  text-align: center;
  .list-is-empty-text{
    font-size: .8rem;
    transform: translateY(10rem);
    display: block;
  }
  .loader-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
