<div class="item">
  <div class="avatar">
    <a href="#">
      <figure>
        <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="#">
      </figure>
    </a>
  </div>

  <div class="info">
    <a href="#" class="name">Spotkanie fanów TWD</a>

    <div class="participants">
      <svg class="icon">
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-users1"></use>
      </svg>
      <span>25 uczestników</span>
    </div>

    <hr>

    <div class="controls">
      <button>Dołącz</button>
    </div>
  </div>
</div>
