<div class="profile-under-header-content-wrapper"
     [ngStyle]="{'opacity': activeSettings ? '0.5' : '1',
       'pointer-events': activeSettings ? 'none' : 'all'}">
  <div class="left-wrapper">
    <app-profile-new-post *ngIf="isUserProfileOwner"></app-profile-new-post>

    <app-profile-post-list [userId]="userId"
                           [isUserProfileOwner]="isUserProfileOwner"></app-profile-post-list>
  </div>

  <div class="right-wrapper">
    <profile-exemplary-friends-panel [userId]="userId"
                                     [isUserProfileOwner]="isUserProfileOwner"></profile-exemplary-friends-panel>
    <profile-exemplary-photos-panel [userId]="userId"
                                    [isUserProfileOwner]="isUserProfileOwner"></profile-exemplary-photos-panel>
  </div>
</div>
