@import "../../../../../../../assets/sass/base/variables";

.profile-header-settings {
  //display: none;

  position: absolute;
  /* width: 1.5rem; */
  /* height: 1.5rem; */
  bottom: 1.5rem;
  right: 2rem;
  z-index: 1;
  display: flex;
  justify-content: center;

  .confirm-changes-btn,
  .open-close-btn {
    border: none;
    background: transparent;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    border-radius: 50%;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background: $grey-bg-on-btn-hover;
    }
  }

  .confirm-changes-btn {
    margin-right: 1rem;

    .icon {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%23b5b5b5' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3Echeckmark%3C/title%3E%3Cpath d='M27 4l-15 15-7-7-5 5 12 12 20-20z'%3E%3C/path%3E%3C/svg%3E");
    }
  }

  .open-close-btn {
    .show-icon {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%23b5b5b5'%3E%3Cpath d='M29.181 19.070c-1.679-2.908-0.669-6.634 2.255-8.328l-3.145-5.447c-0.898 0.527-1.943 0.829-3.058 0.829-3.361 0-6.085-2.742-6.085-6.125h-6.289c0.008 1.044-0.252 2.103-0.811 3.070-1.679 2.908-5.411 3.897-8.339 2.211l-3.144 5.447c0.905 0.515 1.689 1.268 2.246 2.234 1.676 2.903 0.672 6.623-2.241 8.319l3.145 5.447c0.895-0.522 1.935-0.82 3.044-0.82 3.35 0 6.067 2.725 6.084 6.092h6.289c-0.003-1.034 0.259-2.080 0.811-3.038 1.676-2.903 5.399-3.894 8.325-2.219l3.145-5.447c-0.899-0.515-1.678-1.266-2.232-2.226zM16 22.479c-3.578 0-6.479-2.901-6.479-6.479s2.901-6.479 6.479-6.479c3.578 0 6.479 2.901 6.479 6.479s-2.901 6.479-6.479 6.479z'%3E%3C/path%3E%3C/svg%3E");
    }

    .close-icon {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%23b5b5b5' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3Ecancel-circle%3C/title%3E%3Cpath d='M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13z'%3E%3C/path%3E%3Cpath d='M21 8l-5 5-5-5-3 3 5 5-5 5 3 3 5-5 5 5 3-3-5-5 5-5z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}
