@import '../../../../../../assets/sass/base/variables';


.post-item {
  display: flex;
  width: 30rem;
  flex-direction: column;
  margin-bottom: 3rem;
  position: relative;

  &:hover{
    .remove-post{
      opacity: 1;
    }
  }

  .upper-wrapper {
    display: flex;
  }

  .remove-post{
    position: absolute;
    top: 0;
    right: 1rem;
    color: $color-grey-dark;
    opacity: 0;
    transition: .2s;
    background: none;
    outline: none;
    border: none;
  }

  .avatar {
    width: 3.5rem;
    height: 3.5rem;
    //-webkit-clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
    }
  }

  .content {
    font-size: .8rem;
    width: 330px;
    margin-left: 1rem;
    word-break: break-all;
  }


  .bottom-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: .5rem;
    padding-left: 5rem;
  }

  .comments, .likes {
    display: flex;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    span {
      font-size: .6rem;
      display: flex;
      align-self: center;
      margin-left: .3rem;
    }
  }

  .unlike-post-btn{
    transition: .5s;
    &:hover{
      svg {
        fill: $color-grey-light-2;
      }
    }
  }

  .like-user-post-btn{
    transition: .5s;
    &:hover{
      svg {
        transform: scale(1.1);
      }
    }
  }

  .comments {
    svg {
      fill: $color-grey-light-2;
    }

    span {
      color: $color-grey-light-2;
    }
  }

  .likes {
    transform: translateX(2rem);

    svg {
      fill: $color-pink;
    }

    span {
      color: $color-pink;
    }
  }

  .date {
    font-size: .6rem;
    right: 1rem;
    position: absolute;
    align-self: center;
    color: $color-grey-light-2;
  }
}
