@import '../../../../../../assets/sass/base/variables';


.friends-search {
  width: inherit;
  position: relative;

  .box {
    width: 10rem;
    background: $color-blue;
    padding: 1.5rem .65rem .65rem .65rem;
    text-align: center;
    font-weight: 500;
    color: #fff;
    border-radius: 5rem;
    position: absolute;
    left: -13rem;
    font-size: .8rem;
    height: 4rem;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: .15s opacity;

    &__sb:before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 10px solid $color-blue;
      border-right: 10px solid transparent;
      border-top: 10px solid $color-blue;
      border-bottom: 10px solid transparent;
      right: -10px;
      top: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    input, select {
      height: 35px;
      font-size: .8rem !important;
    }

    input{
      padding: 1.3rem 1rem;
    }

    input:not(:last-child), select {
      margin-bottom: 1rem;
    }

    .dropdown-wrapper{
      position: relative;

      .custom-dropdown{
        width: 100%;
      }
    }

    .custom-dropdown {
      select {
        width: 100%;
      }
    }
  }

  .age {
    display: flex;
    margin: .5rem 0;
    background: white;
    align-items: center;
    padding: .5rem .1rem;

    p {
      font-size: .8rem;
      margin-left: .5rem;
    }

    #ageFrom{
      margin-left: 1.5rem;
    }

    #ageTo{
      margin-left: 1rem;
    }

    #ageFrom, #ageTo {
      margin-bottom: 0 !important;
      width: 5rem;
      background: rgba(184,184,184,.05);

      &:focus{
        border-bottom: 1px $color-yellow solid;
      }
    }
  }

  .gender {
    display: flex;
    margin: .5rem 0 1rem 0;
    background: white;
    align-items: center;
    padding: 1rem .1rem;


    .container-male, .container-female {
      margin-left: 1rem;
      margin-bottom: 0;
    }

    .container-male{
      margin-left: 1.5rem;
    }

    .gender-title {
      margin-left: -.2rem;
      font-size: .8rem;
      color: $color-grey-light-2;
    }

    p {
      font-size: .8rem;
      margin-left: .5rem;
    }

    .checkmark {
      top: -.1rem;

      &::after{
        color: $color-white;
      }

    }
  }

  hr {
    width: 21.68rem;
    align-self: center;
    margin: 1rem 0;
  }

  .interests {
    &__input {
      width: 100%
    }
    .inserted-interests{
      &__item{
        &:not(:last-child){
          margin-right: .5rem;
        }
        float: left;
        min-width: 5rem;
        width: fit-content;
        padding: .455rem;
        background: $color-pink-lighter;
        color: white;
        font-size: .8rem;
        margin-top: .5rem;
      }
      &__remove-btn{
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .5rem;
        border-radius: 50%;
        background: none;
        border: 1.5px solid white;
        color: white;
        font-weight: 700;
      }
    }
  }

  button[type="submit"] {
    margin-top: 2rem;
    border: none;
    height: 3rem;
    width: 10rem;
    border-radius: 3rem;
    background: $color-blue;
    font-weight: 700;
    color: white;
    font-size: .85rem;
    align-self: center;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
