<div class="item">
  <div class="avatar">
    <a href="#">
      <figure>
        <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="">
      </figure>
    </a>
  </div>

  <div class="info">
    <a href="#" class="name">Joanna Kochanowska</a>

    <div class="online-status">
        <ng-container>
          <span class="user-is-online-smile">&#9786;</span>
          <span class="user-is-online-text"> online</span>
        </ng-container>
    </div>

    <hr>

    <a href="#" class="send-msg-btn">
      <svg class="control-icon">
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
    </a>


  </div>
</div>
