.profile-avatar {
  .profile-avatar-alter {
    position: absolute;
    width: 13rem;
    height: 13rem;
    top: -4rem;
    left: 5.6rem;
    z-index: 1;

    input[type="file"] {
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      opacity: 0;

      &:hover {
        & + button {
          background: rgba(0, 0, 0, 0.1555);
        }
      }
    }

    &-btn {
      width: inherit;
      height: inherit;
      border-radius: 50%;
      border: none;
      background: rgba(0, 0, 0, 0.255);
      transition: background-color 0.5s;

      svg {
        width: 40%;
        height: 40%;
        fill: white;
      }

      span {
        display: block;
        font-size: 1rem;
        color: white;
      }
    }
  }

  .avatar-loader {
    background: #f8f8f8;
    height: 1rem;
    width: 100%;
  }

  &__wrapper,
  .avatar-loader,
  .wrap-for-loader {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -4rem;
    width: 13rem;
    height: 13rem;
    //float: left;
    border-radius: 50%;
    overflow: hidden;
    border: solid 0.3rem white;
    /*display: flex;
    justify-content: center;*/

    .is-online {
      position: absolute;
      right: 1rem;
      bottom: 0;
      background-color: white;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;

      .circle {
        color: var(--color-blue);
        font-size: 1.3rem;
        position: absolute;
        transform: translate(13px, 3px);
      }
    }

    img {
      height: 100%;
    }
  }
}
