<div class="profile-avatar">
  <ng-container *ngIf="isUserProfileOwner">
    <div *ngIf="activeSettings" class="profile-avatar-alter">
      <input (change)="showNewAvatarModal($event)"
             accept="image/jpeg, image/png"
             name="filename"
             type="file">
      <button class="profile-avatar-alter-btn">
        <svg>
          <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-image"></use>
        </svg>
        <span>
            Zmień zdjęcie
          </span>
      </button>
    </div>
  </ng-container>
  <figure class="profile-avatar__wrapper">
    <img alt=""
         src="{{ avatarUrl }}">
  </figure>
</div>
