<div class="profile__main-content__records__item wall-records__item">
  <div class="profile__main-content__records__item__upper-wrapper">
    <figure class="profile__main-content__records__item__avatar wall-records__item__avatar">
      <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="">
    </figure>
    <p class="profile__main-content__records__item__content wall-records__item__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, qui eum! Numquam laboriosam asperiores laudantium quis corrupti suscipit quas praesentium non harum delectus, ut earum. Doloribus in excepturi rem ratione?</p>
  </div>

  <div class="profile__main-content__records__item__bottom-wrapper wall-records__item__bottom-wrapper">
    <a href="#" class="profile__main-content__records__item__comments wall-records__item__comments">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
      <span>4</span>
    </a>
    <a href="#" class="profile__main-content__records__item__likes wall-records__item__likes">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-heart"></use>
      </svg>
      <span>2</span>
    </a>
    <p class="profile__main-content__records__item__date wall-records__item__date">12.02.2019</p>
  </div>
</div>
