@import '../../../../../../assets/sass/base/variables';

.search-events{
    display: flex;
    justify-content: center;

    .inner-wrapper{
        display: flex;
        margin-top: 2rem;
            
        #search-events-input{
            width: 0px;
            height: 39px;
            outline: none;
            border: none;
            padding-left: 1rem;
            transition: all .3s;
        }

        button{
            display: flex;
            align-self: center;
            justify-content: center;

            width: 39px;
            height: 39px;
            border: none;
            background: $color-pink;

            svg{
                display: flex;
                align-self: center;
                width: 19px;
                height: 19px;
        
                fill: $color-white;
            }
        }
    
        
    }  
}
