<ng-container *ngIf="(userMDLoading$ | async) === false">
  <ng-template [ngIf]="_showComments">
    <router-outlet></router-outlet>
  </ng-template>

  <section class="profile">
    <app-profile-header [activeSettings]="activeSettings"
                        [userData$]="userData$"></app-profile-header>

    <section class="profile-main-content"
         [ngStyle]="{'opacity': activeSettings ? '0.5' : '1', 'pointer-events': activeSettings ? 'none' : 'all'}">

      <!-- ten element służy do przyciemniania głównej strony profilu kiedy zmiana ustawień jest aktywna
      <div class="profile-main-content--dim" *ngIf="activeSettings"></div> -->

      <section class="profile-main-content__left-side-wrapper">
        <app-profile-new-post (newPostEvent)="onNewPost($event)">
        </app-profile-new-post>

        <app-profile-post-item *ngFor="let post of (posts$ | async)"
                               [post]="post"
                               (removePost)="onRemovePost($event)"
                               (likePost)="onLikePost($event)"
                               [avatar]="(userData$ | async).avatar">
        </app-profile-post-item>
      </section>

      <section class="profile-main-content__right-side-wrapper">

        <ng-container *ngIf="(exemplaryFriendsLoading$ | async) === false">
            <app-main-panel
            [panelContent]="{
              title: 'Znajomi',
              icon: '../../../../assets/images/icon/symbol-defs.svg#icon-users1',
              link: '/app/friends'}">

            <app-profile-friends-item *ngFor="let exemplaryFriend of exemplaryFriends" [exemplaryFriend]="exemplaryFriend"></app-profile-friends-item>

          </app-main-panel>
        </ng-container>

        <app-profile-photos></app-profile-photos>
      </section>
    </section>
  </section>

</ng-container>
