<app-new-avatar-modal *ngIf="profilePageModalsService.newAvatarModalOpened"
                      (newAvatarSubmitted)="newAvatarSubmitted()"
                      [newAvatar]="profilePageModalsService.newAvatar">
</app-new-avatar-modal>

<section class="profile-page"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="updateList()">

    <app-profile-header [activeSettings]="activeSettings"
                        [userId]="userId"
                        [isUserProfileOwner]="isUserProfileOwner">
    </app-profile-header>

    <app-profile-under-header-content-wrapper [activeSettings]="activeSettings"
                                              [userId]="userId"
                                              [isUserProfileOwner]="isUserProfileOwner">
    </app-profile-under-header-content-wrapper>
</section>


