@import '../../../../../../assets/sass/base/variables';

.chosen-event-settings-subpage{
  float: left;
  width: 80%;
  min-height: 100vh;
  padding-top: 1.5rem;
  padding-left: 3rem;
  background-color: $color-bg-light-grey;

  .header{
    padding: 1.5rem 2rem;
  }
}

