@import '../../../../../../../assets/sass/base/variables';

.suggested-friend-item {
  display: flex;
  flex-direction: row;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  background: white;
  position: relative;

  .avatar-link {
    figure {
      width: 3.1rem;
      height: 3.1rem;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
      }
    }
  }

  .profile-link {
    text-decoration: none;
    color: #313131;
    align-self: center;
    font-size: .83rem;
    margin-left: .8rem;
  }

  /*.add-btn {
    !* margin-left: auto; *!
    position: absolute;
    right: 13px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 10%;

    transition: transform .2s;
    border: none;
    background: $color-blue;
    color: $color-white;
    font-size: 1rem;
  }*/
}
