@import "../../../../../../../assets/sass/base/variables";

.suggested-friend-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  background: white;
  position: relative;
  border-radius: 1rem;
  overflow: auto;

  .avatar-link {
    float: left;

    figure {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
      }
    }
  }

  .profile-link {
    text-decoration: none;
    color: #313131;
    align-self: center;
    font-size: 0.83rem;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    float: left;
  }
}
