<section class="profile-bg">
  <ng-container *ngIf="(userDataLoaded$|async)">
    <ng-container *ngIf="isUserProfileOwner">
      <div *ngIf="activeSettings" class="profile-bg-alter">
        <div class="btn-info">
          <svg>
            <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-image"></use>
          </svg>
          <span>
            Zmień zdjęcie
          </span>
        </div>

        <div class="profile-bg-alter-btn">
          <input (change)="setNewProfileBackground($event)"
                 accept="image/jpeg, image/png"
                 name="filename"
                 type="file">
          <div class="bg"></div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="wrapper">
    <div *ngIf="!(userDataLoaded$|async); else actBg"
         class="wrap-for-loader">
      <div [ngStyle]="{ background: '#f8f8f8' }"></div>
    </div>
    <ng-template #actBg>
      <div class="act-bg act-bg--null" *ngIf="backgroundUrl == null"></div>
      <div class="act-bg" *ngIf="backgroundUrl != null"
           [style.background]="'url('+ backgroundUrl +')'"
           [ngStyle]="{filter: activeSettings ? 'blur(5px)' : 'blur(0px)',
         transform: activeSettings ? 'scale(1.1)' : 'scale(1)'}"></div>
    </ng-template>
  </div>
</section>
