<div class="friends__search">
    <!--<div>
        <input type="text" placeholder="Szukaj znajomych">
        <button>
          <svg>
              <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
    </div>-->
    <app-friends-search-control></app-friends-search-control>

    <div>
        <label class="custom-checkbox">
            <span>teraz online</span>
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>

        <button>
            <svg>
              <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-cog"></use>
            </svg>
        </button>
    </div>
    
  </div>
