@import '../../../../../assets/sass/base/variables';
@import '../../../../../assets/sass/components/checkbox';

.friends-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;

    div{
        display: flex;
        justify-content: space-between;
        padding: 1rem 2.5rem 0 2.5rem;



        button{
            background: none;
            outline: none;
            border: none;

            svg{
                height: 1.3rem;
                width: 1.3rem;
                fill: $color-grey-light;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}
