.post-comments-page{
  min-height: 100vh;
  display: flex;

  .left-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .right-wrapper{
    width: 60%;
  }
}
