.post-comments-modal{
  .upper-wrapper{
    background: white;
    padding: 5rem;
    overflow-y: scroll;
    min-height: 20vh;
    max-height: 60vh;

    &::-webkit-scrollbar{
      display: none;
    }
  }
}
