<!--
<div class="post-item">
  &lt;!&ndash;<button *ngIf="isUserProfileOwner" class="remove-post" (click)="onRemovePost()">
    &#10006;
  </button>&ndash;&gt;
  <div class="upper-wrapper">
    <div class="avatar-wrapper">
      <figure class="avatar">
        <img src="{{ (postData$ | async).avatarUrl }}" alt="user's avatar">
      </figure>
    </div>
    <div class="content-wrapper">
      <p class="text-content">
        {{ (postData$ | async).content }}
      </p>
      <img *ngIf="(postData$ | async).imagePath != null"
           src="http://localhost:5000/{{ (postData$ | async).imagePath }}"
           alt="#"
           class="image"/>
    </div>
  </div>

  <div class="bottom-wrapper">
    <button (click)="onShowCommentsBtnClick()" class="comments">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
      <span>
        {{ (postData$ | async).commentsCount }}
      </span>
    </button>

    <button class="likes"
            [ngClass]="(postData$ | async).isPostLikedByUser ? 'unlike-post-btn' : 'like-user-post-btn'"
            (click)="onLikeOrUnlikePost()">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-heart"></use>
      </svg>
      <span>
        {{ (postData$ | async).likesCount }}
      </span>
    </button>
    <p class="date">
      {{ timePassed }}
    </p>
  </div>
</div>
-->
