<nav class="user-settings-nav fr-border-right">
  <ul class="list">
    <li>
      <button (click)="navigateToBasicSettings()"
              class="fr-m-l-2 fr-m-r-1 fr-m-t-1 fr-m-b-1 link-btn">
        Podstawowe
      </button>
    </li>
    <li>
      <button (click)="navigateToEducationSettings()" class="link-btn fr-m-1">
        Edukacja
      </button>
    </li>
    <li class="">
      <button (click)="navigateToInterestsSettings()" class="link-btn fr-m-1">
        Zainteresowania
      </button>
    </li>
    <li class="">
      <button (click)="navigateToOtherSettings()" class="link-btn fr-m-1">
        Inne
      </button>
    </li>
    <li class="">
      <button (click)="navigateToSafetySettings()" class="link-btn fr-m-1">
        Bezpieczeństwo
      </button>
    </li>
    <hr/>
  </ul>
</nav>
