@import '../../../../../../assets/sass/base/variables';

.user-settings-nav{
  float: left;
  width: 15%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 2rem;

  .link-btn{
    background: none;
    outline: none;
    border: none;
    height: 4rem;
    font-size: .8rem;
    &:hover{
      text-decoration: underline;
      box-shadow: inset -1px 0px 0 $color-blue;
    }
  }
}
