<nav class="user-settings-nav fr-border-right">
  <button class="fr-m-l-2 fr-m-r-1 fr-m-t-1 fr-m-b-1 link-btn" (click)="navigateToBasicSettings()">
    Podstawowe
  </button>
  <button class="link-btn fr-m-1" (click)="navigateToEducationSettings()">
    Edukacja
  </button>
  <button class="link-btn fr-m-1" (click)="navigateToInterestsSettings()">
    Zainteresowania
  </button>
  <button class="link-btn fr-m-1" (click)="navigateToOtherSettings()">
    Inne
  </button>
  <button class="link-btn fr-m-1" (click)="navigateToSafetySettings()">
    Bezpieczeństwo
  </button>
</nav>
