<section class="profile-info-panel">
  <div [ngStyle]="{'transform': activeSettings ? 'translateX(-85%)' : 'translateX(0)',
      'background-image': activeSettings ? 'linear-gradient(0.45turn, #fff000, #00baff)' : 'linear-gradient(0.85turn, #fff000, #00baff)'}"
       class="wrapper">
    <div class="content">
      <app-profile-avatar [isUserProfileOwner]="isUserProfileOwner"
                          [activeSettings]="activeSettings"
                          [avatarUrl]="userData.avatarUrl"
                          [userId]="userId"></app-profile-avatar>

      <app-profile-header-settings *ngIf="isUserProfileOwner"
                                   (toggleActiveSettingsEmitter)="toggleActiveSettings($event)"></app-profile-header-settings>

      <app-profile-header-basic-data
        [activeSettings]="activeSettings"
        [isUserProfileOwner]="isUserProfileOwner"
        [name]="userData.name"
        [surname]="userData.surname"
        [status]="userData.status"
        [city]="userData.city"
        [birthday]="userData.birthday"></app-profile-header-basic-data>

      <app-profile-header-friendship-controls *ngIf="!isUserProfileOwner" [userId]="userData.id">
      </app-profile-header-friendship-controls>
    </div>
  </div>
</section>
