.search {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  width: 100%;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .inner-wrapper {
    width: 100%;
  }

  &-input {
    width: 84%;
    height: 39px;
    outline: none;
    border: none;
    padding-left: 1rem;
    transition: all 0.3s;
  }

  &-btn {
    width: 39px;
    height: 39px;
    border: none;
    background: var(--color-blue);
    display: flex;
    justify-content: center;

    svg {
      display: flex;
      align-self: center;
      width: 19px;
      height: 19px;

      fill: var(--color-white);
    }
  }
}
