<div class="profile-main-content" [ngStyle]="{'opacity': activeSettings ? '0.5' : '1', 'pointer-events': activeSettings ? 'none' : 'all'}">

  <!-- ten element służy do przyciemniania głównej strony profilu kiedy zmiana ustawień jest aktywna
  <div class="profile-main-content--dim" *ngIf="activeSettings"></div> -->


  <section>
    <app-profile-new-post></app-profile-new-post>
    <app-profile-post-item></app-profile-post-item>
  </section>

  <section>
      <app-profile-friends></app-profile-friends>
      <app-profile-photos></app-profile-photos>
  </section>
  
</div>
