<nav class="event-settings-nav">
  <button class="link-btn" (click)="navigateToBasicSettings()">
    Podstawowe
  </button>
  <button class="link-btn" (click)="navigateToParticipantsSettings()">
    Użytkownicy
  </button>
  <button class="link-btn" (click)="navigateToRequests()">
    Prośby o dodanie
  </button>
  <button class="link-btn" (click)="navigateToBannedParticipantsSettings()">
    Zablokowani uczestnicy
  </button>
  <ng-container *ngIf="isEventCreator">
    <button class="link-btn" (click)="navigateToAdminsSettings()">
      Zarządzający
    </button>
  </ng-container>
</nav>
