<div *ngIf="this.activeSettings" class="profile-ui-settings">
  <textarea class="desc" placeholder="Co słychać?" type="text"></textarea>
</div>

<h2 [ngStyle]="{'opacity': this.activeSettings ? '0.1' : '1'}" class="name">Tomasz Kowalski</h2>
<p [ngStyle]="{'opacity': this.activeSettings ? '0.1' : '1'}" class="desc">Siedzę i nic nie robię</p>
<div [ngStyle]="{'opacity': this.activeSettings ? '0.1' : '1'}" class="location">
  <svg class="icon">
    <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-location"></use>
  </svg>
  <span>Gdańsk</span>
</div>
<div [ngStyle]="{'opacity': this.activeSettings ? '0.1' : '1'}" class="joindate">
  <svg class="icon">
    <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-calendar"></use>
  </svg>
  <span>12.02.2019</span>
</div>
