<div class="app">
  <nav class="navigation">
    <div class="header-buttons">
        <button class="logout-btn" (click)="logOut()">
            <svg class="icon">
                <use xlink:href="../../../assets/images/icon/symbol-defs.svg#icon-exit"></use>
            </svg>
        </button>

        <a class="settings-btn" routerLink="settings">
            <svg class="icon">
                <use xlink:href="../../../assets/images/icon/symbol-defs.svg#icon-cog"></use>
            </svg>
        </a>
    </div>

    <a routerLink="home" class="logo">
        <!--<img src="../../../assets/images/logo-white.png" alt="Friendy logo" class="logo">-->
        <img src="../../../../assets/images/logoanim/1.png" alt="Friendy logo" class="logo--1" draggable="false">
        <img src="../../../../assets/images/logoanim/2.png" alt="Friendy logo" class="logo--2" draggable="false">
    </a>
   
    <div class="buttons">
        <div class="profile">
            
            <a routerLink="profile">
                <svg class="icon">
                    <use xlink:href="../../../assets/images/icon/symbol-defs.svg#icon-user"></use>
                </svg>
                <span>Profil</span>
            </a>
        </div>
        <div class="friends">
            <a routerLink="friends">
                <svg class="icon">
                    <use xlink:href="../../../assets/images/icon/symbol-defs.svg#icon-group"></use>
                </svg>
                <span>Znajomi</span>
            </a>
        </div>
        <div class="messages">
            <a routerLink="messages">
              <svg class="icon">
                  <use xlink:href="../../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
              </svg>
              <span>Wiadomości</span>
            </a>
        </div>
        <div class="events">
            <a routerLink="events">
              <svg class="icon">
                  <use xlink:href="../../../assets/images/icon/symbol-defs.svg#icon-calendar"></use>
              </svg>
              <span>Wydarzenia</span>
            </a>
        </div>
        <!--<div class="groups">
            <a routerLink="groups">
              <svg class="icon">
                  <use xlink:href="../../../assets/images/icon/symbol-defs.svg#icon-make-group"></use>
              </svg>
              <span>Grupy</span>
            </a>
        </div>-->
        <div class="home">
            <a routerLink="home">
              <svg class="icon">
                  <use xlink:href="../../../assets/images/icon/symbol-defs.svg#icon-home"></use>
              </svg>
              <span>Dom</span>
            </a>
        </div>
      
    </div>

    <app-footer></app-footer>

  </nav>

  <div class="page">
      <router-outlet></router-outlet>
  </div>
</div>