<div [ngStyle]="styles" class="user">
  <ng-container *ngIf="friendshipStatusIndex === 0">
    <button (mouseleave)="hideMenu()"
            (mouseover)="showMenu()"
            class="show-menu-btn">
      &#8250;
    </button>
    <div #menu
         class="menu">
      <button (click)="removeFriend()"
              class="remove-btn fr-hover-text-decoration">
        Usuń ze znajomych
      </button>
      <hr class="line">
    </div>
  </ng-container>

  <div class="avatar">
    <a [routerLink]="['/app/profile', id]">
      <figure>
        <img alt="friend's avatar" src="{{ avatar }}">
        <ng-container *ngIf="isUserOnline">
          <div class="is-online">
            <span class="circle">
              &#9679;
            </span>
          </div>
        </ng-container>
      </figure>
    </a>
  </div>

  <div class="info">
    <a [routerLink]="['/app/profile', id]"
       class="name">
      {{ name }} {{ surname }}
    </a>

    <div *ngIf="city != null"
         class="row-info city">
      <span class="icon city__icon fr-span-icon"></span>
      <span class="text-by-icon city__title">
        {{ city }}
      </span>
    </div>

    <ng-container *ngIf="friendshipStatusIndex !== 4">
      <hr class="cw-line">
      <div class="controls-wrapper">
        <ng-container *ngIf="friendshipStatusIndex === 0; else noFriend">
          <a [routerLink]="['/app/dialog', id]"
             class="send-msg-btn">
            <span class="icon fr-span-icon"></span>
          </a>
        </ng-container>

        <ng-template #noFriend>
          <button (click)="onSendFriendRequestBtnClick()"
                  (mouseleave)="removeSendRequestPopover()"
                  (mouseover)="showSendRequestPopover()"
                  *ngIf="friendshipStatusIndex === 1; else removeRequestPopoverWrap"
                  class="add-new-friend-btn">
            <span class="icon fr-span-icon"></span>
            <ng-template #sendRequestPopoverRef></ng-template>
          </button>
          <ng-template #removeRequestPopoverWrap>
            <button (click)="onRemoveFriendRequestBtnClick()"
                    (mouseleave)="removeRequestPopover()"
                    (mouseover)="showRequestPopover()"
                    class="remove-request-btn">
              <span class="icon fr-span-icon"></span>
              <ng-template #removeRequestPopoverRef></ng-template>
            </button>
          </ng-template>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
