<div class="event-participants-settings">
  <app-participants-common-list (searchEmitter)="searchParticipants($event)">
    <ng-container *ngIf="(eventParticipantsLoaded$ | async); else loader">
      <app-participant *ngFor="let eventParticipant of (eventParticipants$ | async)"
                       [id]="eventParticipant.id"
                       [avatarUrl]="eventParticipant.avatarUrl"
                       [name]="eventParticipant.name"
                       [surname]="eventParticipant.surname">
        <app-participant-list-button (action)="remove($event)"
                                     [userId]="eventParticipant.id">
          Usuń
        </app-participant-list-button>
        <app-participant-list-button (action)="ban($event)"
                                     [userId]="eventParticipant.id">
          Zablokuj
        </app-participant-list-button>
      </app-participant>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </app-participants-common-list>
</div>
