@import '../../../../../../assets/sass/base/variables';

.dialog {
  display: flex;
  width: calc(100vw - #{$navigation-width});
  height: 100vh;
  justify-content: center;
  padding-top: 2rem;

  section:first-child, section:last-child {
    display: flex;
    flex-direction: column;
  }

  section:first-child {
    //width: 660px;
    width: 750px;
  }

  section:last-child {
    margin-left: 5rem;
    width: 300px;
  }


  :host ::ng-deep .chat {
    width: inherit;
    height: 600px;
    overflow-y: visible;
  }
}
