<section class="found-users-search-list">
  <app-user-list *ngIf="initialListLoaded$ | async; else loading">
    <app-user-item
      *ngFor="let user of userList$ | async"
      [id]="user.id"
      [name]="user.name"
      [surname]="user.surname"
      [city]="user.city"
      [avatar]="user.avatar"
      [isUserOnline]="user.isOnline"
      [friendshipStatusIndex]="user.friendshipStatusIndex"
    ></app-user-item>
  </app-user-list>

  <ng-template #loading>
    <app-user-list-loader></app-user-list-loader>
    <app-user-list-loader></app-user-list-loader>
    <app-user-list-loader></app-user-list-loader>
    <app-user-list-loader></app-user-list-loader>
    <app-user-list-loader></app-user-list-loader>
  </ng-template>
</section>
