@import '../../../../../../../../assets/sass/base/variables';

.avatar{
  padding-top: 1rem;
  height: 100%;
  margin-right: 1rem;
  margin-left: 1rem;

  .img-wrapper{
      width: 170px;
      height: 170px;
      float: left;
      border-radius: 50%;
      overflow: hidden;
      border: solid 0.3rem #fff;
      box-sizing: content-box;

      img{
        height: 100%;
      }
    }

}
