<app-white-bg-modal [title]="'Lista uczestników'" (closeEmitter)="closePopup()">
  <div
    class="participants-list"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="fill()"
  >
    <ng-container *ngIf="loaded$ | async; else loader">
      <app-participant-small-item
        *ngFor="let eventParticipant of eventParticipants$ | async"
        [id]="eventParticipant.id"
        [avatarUrl]="eventParticipant.avatarUrl"
        [name]="eventParticipant.name"
        [surname]="eventParticipant.surname"
      >
      </app-participant-small-item>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</app-white-bg-modal>
