<div class="new-message-in-dialog">
  <form (ngSubmit)="newMessageEvent()">
    <div class="left-wrapper">
      <textarea placeholder="Napisz wiadomość"
                #newMessageContent></textarea>

      <div class="controls">
        <div class="file-btn-wrapper">
          <svg>
            <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-image"></use>
          </svg>

          <input type="file"
                 name="filename"
                 #image
                 accept="image/jpeg, image/png"
                 style="opacity: 0;">
        </div>
      </div>
    </div>
    <div class="submit-btn-wrapper">
      <button type="submit">
        <span class="icon fr-span-icon"></span>
      </button>
    </div>
  </form>
</div>
