<div class="new-message-in-dialog">
  <hr class="line">
  <form (ngSubmit)="newMessageEvent()">
    <div class="left-wrapper">
      <textarea placeholder="Napisz wiadomość"
                #newMessageContent></textarea>

      <div class="controls">
        <div class="image-wrap">
          <div class="file-btn-wrapper">
            <span class="icon fr-span-icon"></span>

            <input type="file"
                   name="filename"
                   (change)="onImageSelection()"
                   #image
                   accept="image/jpeg, image/png"
                   style="opacity: 0;">
          </div>
          <div class="selected-file" *ngIf="imageFile!=null">
            <span class="title fr-default-smaller-font">
              {{ imageFile.name }}
            </span>
            <button (click)="removeSelectedImage()" class="remove-btn">&times;</button>
          </div>
        </div>
      </div>
    </div>
    <div class="submit-btn-wrapper">
      <button type="submit">
        <span class="icon fr-span-icon"></span>
      </button>
    </div>
  </form>
</div>
