<div class="groups__suggested__item">
  <div class="groups__suggested__item__avatar">
    <a href="#">
      <figure>
        <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="#">
      </figure>
    </a>
  </div>

  <div class="groups__suggested__item__info">
    <a href="#" class="groups__suggested__item__info__name">Spotkanie fanów TWD</a>

    <div class="groups__suggested__item__info__participants">
      <svg class="groups__suggested__item__info__icon">
        <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-users1"></use>
      </svg>
      <span>25 uczestników</span>
    </div>

    <hr>

    <div class="groups__suggested__item__controls">
      <button>Dołącz</button>
    </div>
  </div>
</div>
