@import '../../../../../../assets/sass/base/variables';

.found-users-search-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 0 auto;
  min-height: 150vh;
  padding: 1rem 0;
}
