@import '../../../../../../assets/sass/base/variables';

.found-users-search-list{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $color-bg-grey-footer;
  margin: 0 auto;
  min-height: 150vh;
}
