<div class="main-page" @anim>
  <div class="bg">

  </div>

  <div class="header">
      <section>
          <a routerLink="/">
            <img src="../../../assets/images/mainpagelogo.png" alt="Friendy logo" class="logo" draggable="none">
          </a>
          <p>Friendy - miejsce w którym możesz poznawać ludzi na podstawie<br>
              wspólnych zainteresowań,  na przykład, biorąc udział w imprezach<br>
              organizowanych przez użytkowników.</p>
      </section>
      <section>
          <a class="login-btn" routerLink="login">
              zaloguj
              <div class="under-border"></div>
          </a>
      </section>
  </div>

  <div class="greet-sec">
    <p class="main-text">Szukasz nowych znajomości?</p>
    <p class="secondary-text">więc jesteś we właściwym miejscu</p>
    <a class="join-up-button" routerLink="joinup">Zarejestruj się</a>
  </div>
</div>
