@import '../../../../../../assets/sass/base/variables';

.groups__mine__search{
  display: flex;
  justify-content: center;
  width: 100%;

  &--inner-wrapper{
    display: flex;
    margin-top: 2rem;
    width: 86%;
    justify-content: center;


    input{
      height: 39px;
      outline: none;
      border: none;
      padding-left: 1rem;
      width: 93%;
      transition: all .3s;
    }

    button{
      width: 39px;
      height: 39px;
      border: none;
      background: $color-blue;
      display: flex;
      justify-content: center;

      svg{
        display: flex;
        align-self: center;
        width: 19px;
        height: 19px;

        fill: $color-white;
      }
    }



  }
}
