@import '../../../../assets/sass/base/variables';
@import '../../../../assets/sass/components/checkbox';
@import '../../../../assets/sass/abstracts/mixins';
@import '../../../../assets/sass/base/animations';

.events-page {
  display: flex;
  width: calc(100vw - #{$navigation-width});
  padding-top: 5rem;
  justify-content: center;
  @include min-width-page();

  .left-side-wrapper {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: fit-content;
  }

  .right-side-wrapper {
    width: 35%;
    margin-left: 4rem;
  }

  .new-event {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    hr{
      position: absolute;
      width: 15%;
      z-index: -1;
      top: 0;
      transform: translateY(24px);
    }

    .left-line{
      left: 0;
    }

    .right-line{
      right: 0;
    }

    &__btn {
      margin: 0 auto;
      color: rgba($color-grey-dark, .7);
      width: 70%;
      border: 1px solid rgba($color-grey-dark, .6);
      font-weight: 300;
      height: 3rem;
      text-decoration: none;
      transition: all .3s;
      font-size: .85rem;
      position: relative;
      background: none;
      border-radius: 2rem;

      &:before{
        content: "";
        width: 0;
        position: absolute;
        border-radius: 2rem;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        background: linear-gradient(0.85turn, $color-blue, $color-yellow);
      }
      &:hover{
        box-shadow: 0 0.1875rem 0.1875rem $color-bg-grey-footer;
        color: $color-white;

        &:before{
          animation: search-friends-btn-hover-animation linear .1s 1 normal;
          width: 100%;
        }
      }
    }
  }
}

