<app-event-creation *ngIf="eventCreationPopupOpened"
                    (closeEventCreationPopup)="toggleEventCreationPopup()">
</app-event-creation>

<section class="events-page">
  <!--<app-events-search-panel></app-events-search-panel>-->

  <div class="left-side-wrapper">
    <app-event-list-wrapper [searchActivated]="searchActivated"></app-event-list-wrapper>
  </div>

  <div class="right-side-wrapper">
    <app-event-creation-btn-wrapper
      (popupEmitter)="toggleEventCreationPopup()"></app-event-creation-btn-wrapper>
    <div class="fr-m-t-2">
      <app-navigation-panel></app-navigation-panel>
    </div>
    <div class="fr-m-t-2">
      <app-suggested-events-panel></app-suggested-events-panel>
    </div>
  </div>
</section>

