<app-event-creation *ngIf="eventCreationPopupOpened"
                    (closeEventCreationPopup)="openOrCloseEventCreationPopup()">
</app-event-creation>

<section class="events-page">
  <app-events-search-panel></app-events-search-panel>

  <div class="left-side-wrapper">
    <app-event-list-wrapper [searchActivated]="searchActivated"></app-event-list-wrapper>
  </div>

  <div class="right-side-wrapper">
    <section class="new-event">
      <hr class="left-line">
      <button class="new-event__btn"
              (click)="openOrCloseEventCreationPopup()">
        Utwórz wydarzenie
      </button>
      <hr class="right-line">
    </section>

    <app-suggested-events-panel></app-suggested-events-panel>
  </div>
</section>

