@import '../../../../assets/sass/base/variables';

@import '../../../../assets/sass/components/checkbox';

@import '../../../../assets/sass/abstracts/mixins';


.events{
    display: flex;
    width: calc(100vw - #{$navigation-width});
    padding-top: 5rem;
    justify-content: center;

    &__left{
        display: flex;
        flex-direction: column;
        width: 48%;
        height: fit-content;
        background: $color-bg-grey-footer;

        .all-events{

        }
    }

    &__right{
        width: 35%;
        margin-left: 4rem;
    }

    .new-event{
      display: flex;
      justify-content: center;
      align-items: center;

      &__btn{
        border: none;
        background: linear-gradient(0.85turn, rgb(255, 240, 0), rgb(0, 186, 255));
        color: $color-white;
        font-weight: 700;
        height: 2.6rem;
        width: 12rem;
        border-radius: 2rem;
        transition: all .3s;

        &:hover{
          width: 13rem;
        }
      }

  }
}

