@import "../../../../assets/sass/components/checkbox";
@import "../../../../assets/sass/abstracts/mixins";
@import "../../../../assets/sass/base/animations";

.events-page {
  display: flex;
  width: calc(100vw - #{var(--navigation-width)});
  padding-top: 5rem;
  justify-content: center;
  @include min-width-page();

  .left-side-wrapper {
    width: 50%;
  }

  .right-side-wrapper {
    width: 25%;
    margin-left: 4rem;
  }
}
