<div class="item">
  <div class="upper-wrapper">
    <a class="avatar" href="">
      <figure>
        <img alt="" src="../../../assets/images/test/adult-background-beard-941693.jpg">
      </figure>
    </a>
    <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, qui eum! Numquam laboriosam
      asperiores laudantium quis corrupti suscipit quas praesentium non harum delectus, ut earum. Doloribus in excepturi
      rem ratione?</p>
  </div>

  <div class="bottom-wrapper">
    <a class="comments" href="#">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
      <span>4</span>
    </a>
    <a class="likes" href="#">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-heart"></use>
      </svg>
      <span>2</span>
    </a>
    <p class="date">12.02.2019</p>
  </div>
</div>
