footer {
  position: absolute;
  background-color: var(--color-bg-grey-footer);
  height: 80px;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-top: 30px;

  p {
    color: var(--color-grey-dark);
    font-size: 0.8rem;
  }
}
