@import '../../../../../../../../assets/sass/base/variables';

.profile-avatar-alter {
  //display: none;
  //visibility: hidden;
  position: absolute;
  width: 13rem;
  height: 13rem;
  top: -4rem;
  /* border-radius: 50%; */
  z-index: 1;

  input[type=file] {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity: 0;

    &:hover {
      & + button {
        background-color: rgba(224, 224, 224, 0.4);
      }
    }
  }

  &-btn {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: none;
    background: rgba(224, 224, 224, 0.5);
    transition: background-color .5s;

    svg {
      width: 40%;
      height: 40%;
      fill: $color-white;
    }

    span {
      display: block;
      font-size: 1rem;
      color: $color-white;
    }
  }
}
