<app-main-panel
  [forSubjectEntries]="true"
  [panelContent]="{
  title: 'Zdjęcia',
  iconClass: 'images-icon',
  link: activatedRoute + '/photos',
  marginTop: true}">
  <ng-container *ngIf="userPhotosLoaded">
    <ng-container *ngIf="userPhotos.length > 0; else noPhotosMsg">
      <div class="fr-flex-row">
        <app-profile-photos-item *ngFor="let photo of userPhotos" [photoContent]="photo"></app-profile-photos-item>
      </div>
    </ng-container>
    <ng-template #noPhotosMsg>
      <span class="fr-default-smaller-font">
        Brak
      </span>
    </ng-template>
  </ng-container>
</app-main-panel>
