.events-controls {
  display: flex;

  .all-events-btn,
  .my-events-btn {
    width: 50%;
    height: 3rem;

    border: none;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.85rem;
    color: var(--color-grey-dark);

    transition: all 0.2s;

    &:hover {
      background: var(--color-bg-light-grey-2);
      color: var(--color-white);
    }
  }

  .activeButton {
    color: white;
    background: #00baff;
    &:hover {
      background: #00baff;
      color: white;
    }
  }
}
