<section class="event-participants">
  <app-main-panel
    (onLinkClickEmitter)="onLinkClick()"
    [panelContent]="{
      title: 'Uczestnicy',
      link: this.activatedRoute + '/participants',
      iconClass: 'people-icon',
      marginTop: true
    }"
  >
    <ng-container *ngIf="loaded$ | async; else loader">
      <ng-container
        *ngIf="(eventParticipants$ | async).length > 0; else noParticipants"
      >
        <div class="row row--1">
          <app-event-participants-item
            *ngFor="
              let eventParticipant of (eventParticipants$ | async).slice(0, 3)
            "
            [eventParticipant]="eventParticipant"
          ></app-event-participants-item>
        </div>
        <div class="row row--2">
          <app-event-participants-item
            *ngFor="
              let eventParticipant of (eventParticipants$ | async).slice(3, 6)
            "
            [eventParticipant]="eventParticipant"
          ></app-event-participants-item>
        </div>
      </ng-container>
      <ng-template #noParticipants>
        <span class="fr-default-smaller-font">
          Brak
        </span>
      </ng-template>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </app-main-panel>
</section>
