<section class="event-participants">
  <app-main-panel
    [panelContent]="{
      title: 'Uczestnicy',
      link: this.activatedRoute + '/participants',
      iconClass: 'people-icon',
      marginTop: true
    }"
  >
    <ng-container *ngIf="loaded; else loader">
      <div
        class="items"
        *ngIf="eventExemplaryParticipants.length > 0; else noParticipants"
      >
        <app-event-participants-item
          *ngFor="let eventParticipant of eventExemplaryParticipants"
          [eventParticipant]="eventParticipant"
        ></app-event-participants-item>
      </div>
      <ng-template #noParticipants>
        <span class="fr-default-smaller-font">
          Brak
        </span>
      </ng-template>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </app-main-panel>
</section>
