<div class="new-message-panel">
  <form [formGroup]="newMessage" class="form">
      <span class="friends-list custom-dropdown">
          <select formControlName="chosenFriend">
            <option value="" hidden>Wybierz znajomego</option>
            <option value="1">Mariusz Krakowski</option>
          </select>
      </span>

      <textarea cols="32"
                rows="6"
                formControlName="messageContent"
                placeholder="Napisz wiadomość"></textarea>
  
      <button type="submit">Wyślij</button>
  </form>
</div>
