@import '../../../../../../assets/sass/base/variables';
@import "../../../../../../assets/sass/components/dropdown";
@import "../../../../../../assets/sass/components/fr-input";

.new-message-panel {
  margin-top: 1.5rem;
  width: 320px;
  background-color: $color-bg-light-grey;

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;

    .friends-list {
      select {
        font-size: .8rem;
        width: 273px;
        margin: 1rem 0;

      }

      &::after {
        top: 42%;
      }
    }


    textarea {
      resize: none;
      border: none;
      padding: 1rem;
    }

    button[type="submit"] {
      margin: 1rem 0;
      border: none;
      height: 3rem;
      width: 10rem;
      border-radius: 3rem;
      background: $color-blue;
      font-weight: 700;
      color: white;
      font-size: .85rem;
      align-self: center;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
