<div class="main-page" (mousemove)="moveBubbles($event)">
    <div class="main-page__bg">
        <h1>HEJKA :)</h1>
    </div>

    <ng-template [ngIf]="this.joinUpFormVisibility">
           <app-joinup-popup (closePopUp)="closeJoinUpPopup()"></app-joinup-popup> 
    </ng-template>

    <ng-template [ngIf]="this.logInFormVisibility">
            <app-login-popup (closePopUp)="closeLoginPopup()"></app-login-popup>
    </ng-template>

  <div class="main-page__header">
      <div class="main-page__header__left">
            <a routerLink="/"><img src="../../../assets/images/mainpagelogo.png" alt="Friendy logo" class="main-page__logo" draggable="none"></a>
          <p class="main-page__header__text">Friendy - miejsce w którym możesz poznawać ludzi na podstawie<br>
              wspólnych zainteresowań,  na przykład, biorąc udział w imprezach<br>
              organizowanych przez użytkowników.</p>
      </div>
      <div class="main-page__header__right">
          
          <a class="main-page__header__loginbtn" (click)="openLogInPopup()">
              zaloguj
              <div class="btn__under-border"></div>
          </a>
      </div>
  </div>

  <div class="main-page__greet-sec">
    <p class="main-page__greet-sec__main-text">Szukasz nowych znajomości?</p>
    <p class="main-page__greet-sec__secondary-text">więc jesteś we właściwym miejscu</p>
    <button class="main-page__greet-sec__join-up-button" (click)="navigateToJoinUp()">Zarejestruj się</button>
  </div>

  <div class="bubbles">
      
    <svg version="1.1" x="0px" y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;">
        <style type="text/css">
            .st1{fill:#FFEA00;}
            .st2{fill:#FFFFFF;}
        </style>

        <circle class="st1" cx="125" cy="934" r="9"/>
	<circle class="st1" cx="187.5" cy="983.5" r="10.5"/>
	<circle class="st1" cx="279.5" cy="916.5" r="8.5"/>
	<circle class="st1" cx="398" cy="962" r="3"/>
	<circle class="st1" cx="593" cy="888" r="9"/>
	<circle class="st1" cx="405.5" cy="874.5" r="4.5"/>
	<circle class="st1" cx="70" cy="741" r="9"/>
	<circle class="st1" cx="107.5" cy="808.5" r="10.5"/>
	<circle class="st1" cx="1861.5" cy="743.5" r="11.5"/>
	<circle class="st1" cx="1822" cy="828" r="9"/>
	<circle class="st1" cx="1431.5" cy="881.5" r="6.5"/>
	<circle class="st1" cx="1129.5" cy="925.5" r="8.5"/>
	<circle class="st1" cx="871" cy="966" r="7"/>
	<circle class="st1" cx="609.5" cy="1001.5" r="7.5"/>
	<circle class="st1" cx="489.5" cy="1023.5" r="7.5"/>
	<circle class="st1" cx="967" cy="805" r="7"/>
	<circle class="st1" cx="1730" cy="951" r="8"/>
	<circle class="st1" cx="1571.5" cy="983.5" r="10.5"/>
	<circle class="st1" cx="1325" cy="1005" r="11"/>
	<circle class="st2" cx="711.5" cy="818.5" r="9.5"/>
	<circle class="st2" cx="279" cy="820" r="8"/>
	<circle class="st2" cx="295.5" cy="992.5" r="8.5"/>
	<circle class="st2" cx="999.5" cy="982.5" r="9.5"/>
	<circle class="st2" cx="729.5" cy="942.5" r="8.5"/>
	<circle class="st2" cx="832.5" cy="1032.5" r="8.5"/>
	<circle class="st2" cx="1235.5" cy="853.5" r="8.5"/>
	<circle class="st2" cx="1590.5" cy="836.5" r="9"/>
	<circle class="st2" cx="1418" cy="990" r="7"/>
	<circle class="st2" cx="1823.5" cy="1001.5" r="7.5"/>
	<circle class="st2" cx="1669" cy="1034" r="6"/>
	<circle class="st2" cx="1853" cy="895" r="7"/>
	<circle class="st2" cx="838.5" cy="868.5" r="6.5"/>
	<circle class="st2" cx="1840.5" cy="663.5" r="9.5"/>
	<circle class="st2" cx="1680.5" cy="743.5" r="11.5"/>
    </svg>
  </div>
</div>
