<div class="friend-item">
  <button class="remove-btn" (click)="removeFriend()">
    &times;
  </button>

  <div class="avatar">
    <a href="#">
      <figure>
        <img src="{{ friendData.avatarUrl }}" alt="friend's avatar">
      </figure>
    </a>
  </div>

  <div class="info">
    <a [routerLink]="['/app/profile/', friendData.id]"
       class="fr-hover-text-decoration name">{{ friendData.name }} {{
      friendData.surname }}
    </a>

    <ng-container>
      <div class="online-status" *ngIf="friendData.onlineStatus">
            <span class="user-is-online-text">online</span>
      </div>
    </ng-container>

    <hr>

    <a [routerLink]="['/app/dialog', this.friendData.id]" class="send-msg-btn">
      <span class="control-icon fr-span-icon"></span>
    </a>
  </div>
</div>
