@import "../../../../../../../../assets/sass/base/icons";

.events-search {
  display: flex;
  justify-content: center;
  width: 100%;

  .inner-wrapper {
    display: flex;
    margin-top: 2rem;
    width: 86%;
    justify-content: center;

    .search-input {
      height: 45px;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
      outline: none;
      border: none;
      padding-left: 1rem;
      width: 93%;
      transition: all 0.3s;
    }

    .submit-btn {
      border-radius: 1rem;
      transform: translateX(-1rem);
      width: 45px;
      height: 45px;
      border: none;
      background: var(--color-blue);
      display: flex;
      justify-content: center;

      .search-icon {
        width: 19px;
        height: 19px;
        background: url($search-icon);
      }
    }
  }
}
