<div class="profile-header-friendship-controls">
  <ng-container *ngIf="loaded; else loader">
    <a *ngIf="friendshipStatus"
       class="send-msg-btn"
       [routerLink]="['/app/dialog', this.userId]">
      <span class="icon fr-span-icon"></span>
    </a>

    <ng-container *ngIf="!friendshipStatus">
      <button (click)="onSendFriendRequestBtnClick()"
              (mouseleave)="closeButtonHoverInfoModal('addFriendRequestButton')"
              (mouseover)="openButtonHoverInfoModal('addFriendRequestButton')"
              *ngIf="!friendRequestStatus; else removeFriendRequest"
              class="add-new-friend-btn">
        <span class="icon fr-span-icon"></span>
        <app-button-hover-info-modal *ngIf="addFriendRequestBtnInfoModalOpened">
          Dodaj do znajomych
        </app-button-hover-info-modal>
      </button>
      <ng-template #removeFriendRequest>
        <button (click)="onRemoveFriendRequestBtnClick()"
                (mouseleave)="closeButtonHoverInfoModal('removeFriendRequestButton')"
                (mouseover)="openButtonHoverInfoModal('removeFriendRequestButton')"
                class="remove-request-btn">
          <span class="icon fr-span-icon"></span>
          <app-button-hover-info-modal
            *ngIf="removeFriendRequestBtnInfoModalOpened">
            Anuluj prośbę o dodanie do znajomych
          </app-button-hover-info-modal>
        </button>
      </ng-template>
    </ng-container>
  </ng-container>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
