<div class="profile-header-friendship-controls">
  <ng-container *ngIf="(loaded$|async); else loader">
    <ng-container *ngIf="(friendshipStatus$|async) === 0; else noFriend">
      <a class="send-msg-btn"
         [routerLink]="['/app/dialog', this.userId]">
        <span class="icon fr-span-icon"></span>
      </a>
    </ng-container>

    <ng-template #noFriend>
      <button (click)="onSendFriendRequestBtnClick()"
              (mouseleave)="removeSendRequestPopover()"
              (mouseover)="showSendRequestPopover()"
              *ngIf="(friendshipStatus$|async) === 1; else removeRequestPopoverWrap"
              class="add-new-friend-btn">
        <span class="icon fr-span-icon"></span>
        <ng-template #sendRequestPopoverRef></ng-template>
      </button>
      <ng-template #removeRequestPopoverWrap>
        <button (click)="onRemoveFriendRequestBtnClick()"
                (mouseleave)="removeRequestPopover()"
                (mouseover)="showRequestPopover()"
                class="remove-request-btn">
          <span class="icon fr-span-icon"></span>
          <ng-template #removeRequestPopoverRef></ng-template>
        </button>
      </ng-template>
    </ng-template>
  </ng-container>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
