@import '../../../../../../../assets/sass/base/variables';

.profile-header-friendship-controls{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  text-decoration: none;
  margin-top: 1rem;
  font-size: .8rem;

  .remove-request-btn, .add-new-friend-btn{
    width: 2rem;
    height: 2rem;
    border: none;

    .control-icon{
      width: 1rem;
      height: 1rem;
    }
  }

  .remove-request-btn{
    color: $color-grey-light-2;
    background: none;

    .control-icon {
      fill: $color-grey-light-2;
    }
  }

  .add-new-friend-btn{
    border-radius: 50%;
    background: $color-pink;

    .control-icon{
      fill: $color-white;
    }
  }
}
