@import '../../../../../../assets/sass/base/variables';

.item {
    display: flex;
    flex-direction: row;
    padding: .5rem 0;
    background: white;
  position: relative;

    .avatar {
      figure {
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;

        img {
          height: 100%;
        }
      }
    }

    a {
      text-decoration: none;
      color: #313131;
      align-self: center;
      font-size: .83rem;
      margin-left: .8rem;
    }

    hr{
      margin-left: 36%;
      opacity: .5;
    }

    .add-btn{
      /* margin-left: auto; */
      position: absolute;
      right: 13px;
      display: flex;
      align-self: center;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      border-radius: 10%;
      transform: skew(-11deg);
      transition: transform .2s;
      border: none;
      background: linear-gradient(0.85turn, #fff000, #00baff);
      color: $color-white;
      font-size: 1rem;
    }
  }
