<div class="event-admin">
  <figure class="avatar-wrapper">
    <a class="avatar-link" [routerLink]="['/app/profile', eventAdmin.id]">
      <img src="{{ eventAdmin.avatarUrl }}" alt="">
    </a>
  </figure>
  <a class="basic-data-link" [routerLink]="['/app/profile', eventAdmin.id]">
    {{ eventAdmin.name }} {{ eventAdmin.surname }}
  </a>
  <div class="controls-wrapper">
    <ng-container *ngIf="!eventAdmin.isEventCreator">
      <button class="admin-remove-btn">
        Usuń
      </button>
    </ng-container>
  </div>
</div>
