<div class="friends-adv-search">
  <form (submit)="advSearchSubmit()" [formGroup]="advSearchExtendedForm">
    <input class="name" formControlName="name" placeholder="Imię" type="text">
    <input class="surname" formControlName="surname" placeholder="Nazwisko" type="text">

    <button class="show-more-btn">Pokaż więcej</button>


      <input class="city" formControlName="city" placeholder="Miasto" type="text">

      <span class="custom-dropdown">
      <select formControlName="education">
        <option hidden value="">Wykształcenie</option>
        <option value="1">Średnie</option>
        <option value="2">Wyższe</option>
        <option value="3">Inne</option>
      </select>
    </span>

      <input class="school" formControlName="school" placeholder="Szkoła" type="text">
      <input class="university" formControlName="university" placeholder="Uniwersytet" type="text">

      <div class="age" formGroupName="age">
        <p>Wiek</p>
        <input formControlName="ageMin" id="ageFrom" placeholder="Od" type="text">
        <input formControlName="ageMax" id="ageTo" placeholder="Do" type="text">
      </div>

      <div class="gender">
        <p>Płeć</p>
        <label class="container container-male"><span class="gender-title">mężczyzna</span>
          <input checked="checked" formControlName="gender" name="gender" type="radio" value="male">
          <span class="checkmark"></span>
        </label>
        <label class="container container-female"><span class="gender-title">kobieta</span>
          <input formControlName="gender" name="gender" type="radio" value="female">
          <span class="checkmark"></span>
        </label>
      </div>

      <span class="custom-dropdown">
      <select formControlName="familyStatusId">
        <option hidden value="">Status rodzinny</option>
        <option value="1">Żonaty</option>
        <option value="2">Zaręczony</option>
        <option value="3">Inne</option>
      </select>
    </span>


      <span class="custom-dropdown">
      <select formControlName="religion">
        <option hidden value="">Religia</option>
        <option value="katolicyzm">Katolicyzm</option>
        <option value="prawoslawie">Prawosławie</option>
        <option value="islam">Islam</option>
        <option value="inne">Inne</option>
      </select>
    </span>

      <span class="custom-dropdown">
      <select formControlName="alcoholOpinion">
        <option hidden value="">Stosunek do alkoholu</option>
        <option value="zonaty">Negatywny</option>
        <option value="zareczony">Pozytywny</option>
        <option value="other">Neutralny</option>
      </select>
    </span>

      <span class="custom-dropdown">
      <select formControlName="smokingOpinion">
        <option hidden value="">Stosunek do palenia</option>
        <option value="zonaty">Negatywny</option>
        <option value="zareczony">Pozytywny</option>
        <option value="other">Neutralny</option>
      </select>
    </span>

      <span class="custom-dropdown">
      <select formControlName="drugsOpinion">
        <option hidden value="">Stosunek do narkotyków</option>
        <option value="zonaty">Negatywny</option>
        <option value="zareczony">Pozytywny</option>
        <option value="other">Neutralny</option>
      </select>
    </span>

      <div class="interests">
        <input formControlName="interests" placeholder="Zainteresowania (maks. 5)" type="text">
      </div>


    <button type="submit">Szukaj</button>
  </form>
</div>
