<div class="chat-data">
  <div class="user-data">
    <section>
      <a [routerLink]="['/app/profile', interlocutorData.friendId]">
        <figure>
          <img src="{{ interlocutorData.avatarUrl }}" alt="">
        </figure>
      </a>
      <section>
          <a [routerLink]="['/app/profile', interlocutorData.friendId]">
            {{ interlocutorData.name }} {{ interlocutorData.surname }}
          </a>
          <p>w sieci ERROR minut temu</p>
      </section>
    </section>
  </div>
</div>
