<div class="chat-data">
  <div class="user-data">
      <a class="avatar-link" [routerLink]="['/app/profile',
      interlocutorData.friendId]">
        <figure class="avatar-figure">
          <img alt="" src="{{ interlocutorData.avatarUrl }}">
        </figure>
      </a>
      <div class="md-wrapper">
        <a class="md-link fr-hover-text-decoration" [routerLink]="['/app/profile',
        interlocutorData.friendId]">
          {{ interlocutorData.name }} {{ interlocutorData.surname }}
        </a>
        <ng-container *ngIf="interlocutorData.isOnline; else offline">
          <p class="cur-status">dostępny</p>
        </ng-container>
        <ng-template #offline>
          <p class="cur-status">ostatnio dostępny {{ lastTimeOnline }}</p>
        </ng-template>
      </div>
  </div>
  <hr class="bottom-line">
</div>
