@import '../../../../../../assets/sass/base/variables';

.chat-data {
  width: inherit;
  height: 70px;
  background-color: $color-bg-grey-footer;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .user-data {
    display: flex;

    .avatar-figure {
      display: flex;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      float: left;
      border-radius: 50%;
      overflow: hidden;

      img {
        object-fit: contain;
      }
    }

    .md-wrapper {
      margin-left: .7rem;
      align-self: center;

      .md-link {
        font-size: .9rem;
        text-decoration: none;
        color: $color-blue;
      }

      .cur-status {
        font-size: .7rem;
      }
    }
  }

}
