@import '../../../../../../assets/sass/base/variables';

.chat-data {
  width: 95%;
  height: 105px;
  border-radius: 2rem;
  position: relative;

  .user-data {
    display: flex;
    transform: translate(2rem, 50%);

    .avatar-figure {
      display: flex;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem;
      float: left;
      border-radius: 50%;
      overflow: hidden;

      img {
        object-fit: contain;
      }
    }

    .md-wrapper {
      margin-left: 1rem;
      align-self: center;

      .md-link {
        font-size: .95rem;
        text-decoration: none;
        color: $color-grey-dark;
        font-weight: 500;
      }

      .cur-status {
        font-size: .7rem;
        margin-top: .25rem;
      }
    }
  }

  .bottom-line{
    margin-top: 1rem;
    opacity: .3;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
