@import '../../../../../../assets/sass/base/variables';
@import "../../../../../../assets/sass/components/text-input";
@import "../../../../../../assets/sass/components/dropdown";
@import "../../../../../../assets/sass/components/radiobutton";

.friends-adv-search {
  width: inherit;

  form {
    display: flex;
    flex-direction: column;

    input, select {
      height: 35px;
      font-size: .8rem !important;
    }

    input:not(:last-child), select {
      margin-bottom: 1rem !important;
    }

    .custom-dropdown {
      select {
        width: 347px;
        height: 35px;
      }
    }
  }

  .age {
    display: flex;
    margin: .5rem 0;

    p {
      align-self: center;
      font-size: .8rem;
      margin-top: -12.5px;
    }

    input {
      width: 5rem;
      margin-left: 1rem;
    }
  }

  .gender {
    margin: .5rem 0;
    margin-bottom: 1rem;

    label {
      margin-left: 1.5rem;
      margin-right: .5rem;
    }

    .gender-title {
      margin-left: -.2rem;
      color: $color-grey-light-2;
    }

    display: flex;

    p {
      font-size: .8rem;

    }

    .checkmark {
      top: -.1rem;
    }
  }

  hr {
    width: 21.68rem;
    align-self: center;
    margin: 1rem 0;
  }

  .interests {
    input {
      width: 347px;
    }
  }

  button[type="submit"] {
    margin-top: 2rem;
    border: none;
    height: 3rem;
    width: 10rem;
    border-radius: 3rem;
    background: $color-blue;
    font-weight: 700;
    color: white;
    font-size: .85rem;
    align-self: center;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
