<div class="friends-adv-search">
  <form [formGroup]="advSearch" (submit)="advSearchSubmit()">
    <input type="text" formControlName="city" class="city" placeholder="Miasto">

    <span class="custom-dropdown">
      <select formControlName="education">
        <option value="" hidden>Wykształcenie</option>
        <option value="1">Średnie</option>
        <option value="2">Wyższe</option>
        <option value="3">Inne</option>
      </select>
    </span>

    <input type="text" formControlName="school" class="school" placeholder="Szkoła">
    <input type="text" formControlName="university" class="university" placeholder="Uniwersytet">

    <div class="age" formGroupName="age">
      <p>Wiek</p>
      <input type="text" placeholder="Od" formControlName="ageMin">
      <input type="text" placeholder="Do" formControlName="ageMax">
    </div>

    <div class="gender">
      <p>Płeć</p>
      <label class="container"><span class="gender-title">mężczyzna</span>
        <input type="radio" checked="checked" value="male" name="gender" formControlName="gender">
        <span class="checkmark"></span>
      </label>
      <label class="container"><span class="gender-title">kobieta</span>
        <input type="radio" name="gender" value="female" formControlName="gender">
        <span class="checkmark"></span>
      </label>
    </div>

    <span class="custom-dropdown">
      <select formControlName="familyStatus">
        <option value="" hidden>Status rodzinny</option>
        <option value="zonaty">Żonaty</option>
        <option value="zareczony">Zaręczony</option>
        <option value="inne">Inne</option>
      </select>
    </span>


    <span class="custom-dropdown">
      <select formControlName="religion">
        <option value="" hidden>Religia</option>
        <option value="katolicyzm">Katolicyzm</option>
        <option value="prawoslawie">Prawosławie</option>
        <option value="islam">Islam</option>
        <option value="inne">Inne</option>
      </select>
    </span>

    <span class="custom-dropdown">
      <select formControlName="alcoholOpinion">
        <option value="" hidden>Stosunek do alkoholu</option>
        <option value="zonaty">Negatywny</option>
        <option value="zareczony">Pozytywny</option>
        <option value="other">Neutralny</option>
      </select>
    </span>

    <span class="custom-dropdown">
      <select formControlName="smokingOpinion">
        <option value="" hidden>Stosunek do palenia</option>
        <option value="zonaty">Negatywny</option>
        <option value="zareczony">Pozytywny</option>
        <option value="other">Neutralny</option>
      </select>
    </span>

    <span class="custom-dropdown">
      <select formControlName="drugsOpinion">
        <option value="" hidden>Stosunek do narkotyków</option>
        <option value="zonaty">Negatywny</option>
        <option value="zareczony">Pozytywny</option>
        <option value="other">Neutralny</option>
      </select>
    </span>


    <div class="interests">
      <input type="text" formControlName="interests" placeholder="Zainteresowania (maks. 5)">
    </div>

    <button type="submit">Szukaj</button>
    </form>
</div>
