@import '../../../../assets/sass/base/variables';
@import '../../../../assets/sass/components/checkbox';
@import '../../../../assets/sass/abstracts/mixins';


.friends {
  display: flex;
  width: calc(100vw - #{$navigation-width});
  padding-top: 5rem;
  justify-content: center;

  .friends-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/*  .friends-adv-search-list{
    position: relative;

    .back-to-friends-btn{
      background: none;
      outline: none;
      border: none;
      color: $color-grey-dark;
      position: absolute;
      top: 1rem;
      left: 1rem;

      &:hover{
        color: $color-white;
        background: $color-grey-dark;
      }
    }

    .users-not-found{
      color: $color-grey-dark;
    }
  }*/

  .friends-list {
    margin-top: 2rem;

    section {
      display: flex;
    }
  }

  .friends-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;

    div{
      display: flex;
      justify-content: space-between;
      padding: 1rem 2.5rem 0 2.5rem;
    }
  }

  .friends-search-wrapper{
    margin-top: 5rem;

    &__link{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border: none;
      background: linear-gradient(0.85turn, #fff000, #00baff);
      color: #fff;
      font-weight: 700;
      height: 2.6rem;
      text-decoration: none;
      width: 12rem;
      border-radius: 2rem;
      transition: all .3s;
      font-size: .85rem;
    }
  }

  &__left-side-wrapper {
    display: flex;
    flex-direction: column;
    width: 52%;
    height: fit-content;
    background: $color-bg-grey-footer;
  }

  &__right-side-wrapper {
    margin-left: 5rem;
  }
}
