@import '../../../../assets/sass/base/variables';
@import '../../../../assets/sass/base/animations';
@import '../../../../assets/sass/abstracts/mixins';


.friends {
  display: flex;
  width: calc(100vw - #{$navigation-width});
  padding-top: 5rem;
  justify-content: center;

  .friends-list {
    margin-top: 2rem;

    section {
      display: flex;
    }
  }

  .left-wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;

    .whole-section-wrap{
      border-radius: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .right-wrap {
    width: 22%;
    margin-left: 5rem;

    .wrap{
      &--suggested{
        margin-bottom: 2rem;
      }
    }
  }
}
