@import "../../../../assets/sass/base/variables";
@import "../../../../assets/sass/base/animations";
@import "../../../../assets/sass/abstracts/mixins";

.friends {
  display: flex;
  @include min-width-page();
  padding-top: 5rem;
  justify-content: center;

  .left-wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;

    .whole-section-wrap {
      border-radius: 1rem;
      background: $color-bg-grey-footer;
      min-height: 350px;
    }
  }

  .right-wrap {
    width: 22%;
    margin-left: 5rem;

    .wrap {
      &--suggested {
        margin-bottom: 2rem;
      }
    }
  }
}
