<div
  class="friends"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="updateFriendList()"
>
  <section class="left-wrap">
    <div class="whole-section-wrap">
      <app-friends-search-controls></app-friends-search-controls>

      <app-friend-list *ngIf="(subpageIndex$ | async) === 1"></app-friend-list>
      <app-received-friend-requests *ngIf="(subpageIndex$ | async) === 2">
      </app-received-friend-requests>
      <app-sent-friend-requests
        *ngIf="(subpageIndex$ | async) === 3"
      ></app-sent-friend-requests>
      <app-found-users-list
        *ngIf="(subpageIndex$ | async) === 4"
      ></app-found-users-list>
    </div>
  </section>

  <section class="right-wrap">
    <app-navigation-panel></app-navigation-panel>

    <div *ngIf="(subpageIndex$ | async) === 1 || (subpageIndex$ | async) === 2">
      <app-suggested-friends-panel></app-suggested-friends-panel>
    </div>

    <app-friends-search-panel
      *ngIf="(subpageIndex$ | async) === 3"
      (searchFormSubmitEmitter)="searchFormSubmit($event)"
    >
    </app-friends-search-panel>
  </section>
</div>
