<div class="friends"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="updateFriendList()">
  <section class="friends__left-side-wrapper">
    <app-friends-search-controls></app-friends-search-controls>

    <app-friend-list>
    </app-friend-list>
  </section>

  <section class="friends__right-side-wrapper">
    <div class="friends-search-wrapper">
      <hr class="left-line">
      <a class="friends-search-wrapper__link"
         [routerLink]="['/app/friends-search']">
        Znajdź znajomych
      </a>
      <hr class="right-line">
    </div>

    <app-suggested-friends-panel></app-suggested-friends-panel>
  </section>
</div>

