<div class="found-user-item">
  <div class="avatar">
    <a [routerLink]="['/app/profile', foundUserData.id]">
      <figure>
        <img src="{{ foundUserData.avatar }}" alt="friend's avatar">
      </figure>
    </a>
  </div>

  <div class="info">
    <a [routerLink]="['/app/profile', foundUserData.id]"
       class="name">
      {{ foundUserData.name }} {{ foundUserData.surname }}
    </a>

    <div class="online-status">
        <span class="user-is-online-smile">&#9786;</span>
        <span class="user-is-online-text"> online</span>
    </div>

    <hr class="line">

    <div class="controls-wrapper">
      <a href="#"
         *ngIf="friendshipStatus"
         class="btn-with-icon
         send-msg-btn">
        <svg class="control-icon">
          <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
        </svg>
      </a>

      <ng-container *ngIf="!friendshipStatus">
        <button *ngIf="!friendRequestStatus; else removeFriendRequest"
                (click)="onSendFriendRequestBtnClick()"
                (mouseleave)="closeButtonHoverInfoModal('addFriendRequestButton')"
                (mouseover)="openButtonHoverInfoModal('addFriendRequestButton')"
                class="btn add-new-friend-btn">
          <!--<svg class="control-icon">
            <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-plus"></use>
          </svg>
          <app-button-hover-info-modal *ngIf="addFriendRequestBtnInfoModalOpened">
            Dodaj do znajomych
          </app-button-hover-info-modal>-->
          Dodaj do znajomych
        </button>
        <ng-template #removeFriendRequest>
          <button (click)="onRemoveFriendRequestBtnClick()"
                  (mouseleave)="closeButtonHoverInfoModal('removeFriendRequestButton')"
                  (mouseover)="openButtonHoverInfoModal('removeFriendRequestButton')"
                  class="btn-with-icon remove-request-btn">
            <svg class="control-icon">
              <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-cancel-circle"></use>
            </svg>
            <app-button-hover-info-modal *ngIf="removeFriendRequestBtnInfoModalOpened">
              Anuluj prośbę o dodanie do znajomych
            </app-button-hover-info-modal>
            <!--<span class="btn__text">
              Anuluj prośbę
            </span>-->
          </button>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
