<div class="found-user-item">
  <div class="avatar">
    <a href="#">
      <figure>
        <img src="{{ foundUserData.avatar }}" alt="friend's avatar">
      </figure>
    </a>
  </div>

  <div class="info">
    <a [routerLink]="['/app/profile', foundUserData.id]"
       class="name">
      {{ foundUserData.name }} {{ foundUserData.surname }}
    </a>

    <div class="online-status">
        <span class="user-is-online-smile">&#9786;</span>
        <span class="user-is-online-text"> online</span>
    </div>

    <hr class="line">

    <div class="controls-wrapper">
      <a href="#"
         *ngIf="friendshipStatus"
         class="controls-wrapper__btn
         send-msg-btn">
        <svg class="control-icon">
          <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
        </svg>
      </a>

      <ng-container *ngIf="!friendshipStatus">
        <button *ngIf="!friendRequestStatus; else removeFriendRequest"
                (click)="onSendFriendRequestBtnClick()"
                class="controls-wrapper__btn add-new-friend-btn">
          <svg class="control-icon">
            <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-plus"></use>
          </svg>
          <span class="btn__text">
            Dodaj do znajomych
          </span>
        </button>
        <ng-template #removeFriendRequest>
          <button (click)="onRemoveFriendRequestBtnClick()"
                  class="controls-wrapper__btn remove-request-btn">
            <svg class="control-icon">
              <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-cancel-circle"></use>
            </svg>
            <span class="btn__text">
              Anuluj prośbę
            </span>
          </button>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
