@import '../../../../../../../assets/sass/base/variables';


.found-user-item {
  display: flex;
  background: #fff;
  align-items: center;
  text-align: center;
  width: 20vw;
  padding: 1.5rem 0;

  .avatar {
    a {
      figure {
        display: flex;
        justify-content: center;
        width: 8rem;
        height: 8rem;
        float: left;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
        }
      }
    }
  }

  .info {
    margin-left: .5rem;
    width: 40%;

    .line{
      opacity: .15;
      margin-top: 0.5rem;
    }

    .name {
      font-size: .95rem;
      color: $color-blue;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }

    .online-status {
      display: flex;
      align-items: center;
      margin-top: .7rem;
      justify-content: center;

      .user-is-online-smile{
        font-size: 1.1rem;
        margin-right: .15rem;
        color: $color-grey-light-2;
      }

      .user-is-online-text {
        font-size: 0.75rem;
        color: $color-grey-light-2;
      }
    }

    .controls-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin-top: 1rem;
      font-size: .8rem;

      .btn-with-icon{
        color: $color-grey-light-2;
        width: 1rem;
        height: 1rem;
        background: none;
        border: none;

        .control-icon {
          width: 1rem;
          height: 1rem;
          fill: $color-grey-light-2;
        }
      }

      .add-new-friend-btn{
        border-radius: 3rem;
        background: $color-pink;
        padding: .5rem 0;
        width: 8rem;
        color: white;
        border: none;
      }
    }
  }
}

