<div class="chat-message-list"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     [scrollWindow]="false"
     (scrolledUp)="updateMessages()">
  <ng-container *ngIf="(messagesLoaded$|async); else loader">
    <ng-container *ngIf="(messages$|async).length>0; else emptyList">

      <app-chat-message-item *ngFor="let message of (messages$|async);"
                             [messageData]="message"
                             [profileId]="profileId"></app-chat-message-item>
    </ng-container>
    <ng-template #emptyList>
      <div class="empty-list">
        <span class="fr-default-smaller-font">Lista wiadomości jest pusta</span>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
