<div class="chat-message-list"
     *ngIf="messagesInDialogLoaded$">
  <ng-container *ngFor="let messages of orderedMessages">
    <app-friend-messages *ngIf="!messages.isAuthor && (chatFriendData$ | async) as chatFriendData"
                         [chatFriendAvatar]="chatFriendData.avatar"
                         [chatFriendId]="chatFriendData.friendId"
                         [messages]="messages.messages"></app-friend-messages>

    <app-user-messages *ngIf="messages.isAuthor"
                       [messages]="messages.messages"></app-user-messages>
  </ng-container>
</div>
