@import '../../../../../../assets/sass/base/variables';

.chat-message-list{
  display: flex;
  padding: 2rem 2rem 1rem 2.5rem;
  flex-direction: column;
  height: 65vh;
  overflow-y: scroll;
  position: relative;


  &::-webkit-scrollbar {
    //width: .62rem;
    opacity: 0;
  }

  /*&::-webkit-scrollbar-track {
    !*box-shadow: inset 0 0 5px $color-bg-light-grey;
    border-radius: .2rem;*!
    background-image: url("../../../../../../assets/images/scrollbar-black-line.png");
    background-position: center;
  }

  &::-webkit-scrollbar-thumb {
    background: white;
    border: 1.1px solid $color-blue;
    border-radius: 1rem;
    transition: .5s background;
  }*/
}
