.chat-message-list {
  padding: 2rem 2rem 1rem 2.5rem;
  min-height: 71vh;
  max-height: 682px;
  overflow-y: scroll;
  position: relative;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #c0ccdd;
      border-radius: 1rem;
      border: 5px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-track {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      background: rgba(black, 0.02);
      background-clip: content-box;
    }
  }

  &::-webkit-scrollbar {
    opacity: 0;
  }

  .empty-list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(black, 0.02);
    border-radius: 1rem;
    transition: 0.5s;
    border: 5px solid transparent;
    background-clip: content-box;
  }
}
