<header class="profile-header" *ngIf="(userDataLoaded$ | async)">
  <app-profile-background [isUserProfileOwner]="isUserProfileOwner"
                          [activeSettings]="activeSettings"
                          [userId]="userId"></app-profile-background>

  <app-profile-info-panel [userId]="userId"
                          [activeSettings]="activeSettings"
                          [isUserOnline]="isUserOnline"
                          [isUserProfileOwner]="isUserProfileOwner"
                          [userData]="userData"
                          (toggleSettingsEm)="toggleActiveSettings($event)"
  ></app-profile-info-panel>
</header>

