<div class="chat-message-item">
  <div class="inner-ab-wrapper" [ngStyle]="{ left: !isUserAuthor && '3rem',
   right: isUserAuthor && '3rem' }">
    <ng-container *ngIf="isUserAuthor">
       <span class="time-passed time-passed--user">
        {{timePassed}}
      </span>
    </ng-container>
    <div class="content" [ngStyle]="{ float: isUserAuthor ? 'right' : 'left' }">
      <span>
        {{messageData.content}}
      </span>
    </div>
    <ng-container *ngIf="!isUserAuthor">
      <span class="time-passed time-passed--friend">
        {{timePassed}}
      </span>
    </ng-container>
  </div>
</div>
