@import '../../../../../../assets/sass/base/variables';
@import "../../../../../../assets/sass/components/settings-panel-wrapper";


.user-interests-settings{
  .current-interests{
    padding: 0 .5rem;

    &__item{
      float: left;
      min-width: 5rem;
      width: fit-content;
      padding: .455rem;
      background: $color-pink-lighter;
      color: white;
      font-size: .8rem;
      margin: .5rem;
    }

    &__remove-btn{
      width: 1.5rem;
      height: 1.5rem;
      margin-left: .5rem;
      border-radius: 50%;
      background: none;
      border: 1.5px solid white;
      color: white;
      font-weight: 700;
    }
  }
}
