<section class="user-interests-settings">

  <div class="settings-panel-wrapper">
    <form>
      <div class="settings-panel-wrapper__row">
        <label class="settings-panel-wrapper__label" for="interests">
          Zainteresowania
        </label>
        <input class="settings-panel-wrapper__input fr-input"
               id="interests"
               type="text">
      </div>
      <div class="submit-btn-wrapper m-t-3">
        <button class="fr-btn-main-blue submit-btn" type="submit">
          Zapisz
        </button>
      </div>
    </form>
  </div>

  <div class="settings-panel-wrapper fr-m-t-2">
    <form>
      <div class="settings-panel-wrapper__row">
        <label class="settings-panel-wrapper__label" for="school">
          Szkoła
        </label>
        <input class="settings-panel-wrapper__input fr-input"
               id="school"
               type="text">
      </div>
      <div class="settings-panel-wrapper__row">
        <label class="settings-panel-wrapper__label" for="university">
          Uniwersytet
        </label>
        <input class="settings-panel-wrapper__input fr-input"
               id="university"
               type="text">
      </div>
      <div class="settings-panel-wrapper__row">
        <label class="settings-panel-wrapper__label" for="education">
          Wykształcenie
        </label>
        <span class="custom-dropdown">
          <select class="light-grey-background" formControlName="education" id="education">
            <option value="1">Średnie</option>
            <option value="2">Wyższe</option>
            <option value="3">Inne</option>
          </select>
        </span>
      </div>
      <div class="submit-btn-wrapper m-t-3">
        <button class="fr-btn-main-blue submit-btn" type="submit">
          Zapisz
        </button>
      </div>
    </form>
  </div>

  <div class="settings-panel-wrapper fr-m-t-2">
    <form>
      <div class="settings-panel-wrapper__row">
        <label class="settings-panel-wrapper__label" for="maritalStatus">
          Status rodzinny
        </label>
        <span class="custom-dropdown light-grey-background">
          <select class="light-grey-background" formControlName="maritalStatus" id="maritalStatus">
            <option value="1">Żonaty</option>
            <option value="2">Zaręczony</option>
            <option value="3">Inne</option>
          </select>
        </span>
      </div>
      <div class="settings-panel-wrapper__row fr-m-t-25-px">
        <label class="settings-panel-wrapper__label" for="religion">
          Religia
        </label>
        <span class="custom-dropdown light-grey-background">
          <select class="light-grey-background" formControlName="religion" id="religion">
            <option value="1">Katolicyzm</option>
            <option value="2">Prałowsawie</option>
            <option value="3">Islam</option>
            <option value="3">Inne</option>
          </select>
        </span>
      </div>
      <div class="settings-panel-wrapper__row fr-m-t-25-px">
        <label class="settings-panel-wrapper__label" for="alcoholAttitude">
          Stosunek do alkoholu
        </label>
        <span class="custom-dropdown">
          <select class="light-grey-background" formControlName="alcoholAttitude" id="alcoholAttitude">
            <option value="1">Negatywny</option>
            <option value="2">Pozytywny</option>
            <option value="3">Neutralny</option>
          </select>
        </span>
      </div>
      <div class="settings-panel-wrapper__row fr-m-t-25-px">
        <label class="settings-panel-wrapper__label" for="smokingAttitude">
          Stosunek do palenia
        </label>
        <span class="custom-dropdown">
          <select class="light-grey-background" formControlName="smokingAttitude" id="smokingAttitude">
            <option value="1">Negatywny</option>
            <option value="2">Pozytywny</option>
            <option value="3">Neutralny</option>
          </select>
        </span>
      </div>
      <div class="submit-btn-wrapper m-t-3">
        <button class="fr-btn-main-blue submit-btn" type="submit">
          Zapisz
        </button>
      </div>
    </form>
  </div>
</section>
