@import "../../../../../../assets/sass/components/settings-panel-wrapper";

.user-interests-settings {
  .upper-wrapper {
    min-height: 7rem;
  }

  .found-interests-popup {
    .item-btn {
      border: none;
      background: var(--color-pink);
      color: var(--color-white);
      height: 2rem;
      margin: 1rem;
      padding: 0 1rem;
    }
  }

  .current-interests {
    padding: 0 0.5rem;
    width: 70%;
    margin-top: 2rem;

    .item {
      font-size: 0.8rem;
      margin: 0.5rem;
      display: flex;
      align-items: center;

      .title {
        color: var(--color-grey-dark);
        margin-right: 1rem;
      }

      .wage-slider {
        -webkit-appearance: none;
        width: 50%;
        height: 1rem;
        border-radius: 1rem;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
      }

      .wage-slider:hover {
        opacity: 1;
      }

      .wage-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: var(--color-pink-lighter);
        cursor: pointer;
      }

      .wage-slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: darken(#e84c7e, 0.1);
        cursor: pointer;
      }

      .remove-btn {
        width: 2rem;
        height: 2rem;
        margin-left: 0.5rem;
        border-radius: 50%;
        border: 1.5px solid white;
        color: white;
        font-weight: 700;
        background: var(--color-pink-lighter);
      }
    }
  }
}
