@import '../../../../../../assets/sass/base/variables';
@import "../../../../../../assets/sass/components/text-input";
@import "../../../../../../assets/sass/components/dropdown";
@import "../../../../../../assets/sass/components/radiobutton";

.friends-adv-search {
  width: inherit;
  position: relative;

  form {
    display: flex;
    flex-direction: column;

    input, select {
      height: 35px;
      font-size: .8rem !important;
    }

    input:not(:last-child), select {
      margin-bottom: 1rem;
    }

    .show-more-btn{
      background: none;
      outline: none;
      border: none;
      color: $color-blue;
      margin: .5rem 0 0 1rem;
      font-size: .7rem;
      width: fit-content;


      &:hover{
        text-decoration: underline;
      }
    }

    .custom-dropdown {
      select {
        width: 100%;
      }
    }
  }

  .age {
    display: flex;
    margin: .5rem 0;
    background: white;
    align-items: center;
    padding: .5rem .1rem;

    p {
      font-size: .8rem;
      margin-left: .5rem;
    }

    #ageFrom{
      margin-left: 1.5rem;
    }

    #ageTo{
      margin-left: 1rem;
    }

    #ageFrom, #ageTo {
      margin-bottom: 0 !important;
      width: 5rem;
      background: rgba(184,184,184,.05);

      &:focus{
        border-bottom: 1px $color-yellow solid;
      }
    }
  }

  .gender {
    display: flex;
    margin: .5rem 0 1rem 0;
    background: white;
    align-items: center;
    padding: 1rem .1rem;


    .container-male, .container-female {
      margin-left: 1rem;
      margin-bottom: 0;
    }

    .container-male{
      margin-left: 1.5rem;
    }

    .gender-title {
      margin-left: -.2rem;
      color: $color-grey-light-2;
    }

    p {
      font-size: .8rem;
      margin-left: .5rem;
    }

    .checkmark {
      top: -.1rem;

      &::after{
        color: $color-white;
      }

    }
  }

  hr {
    width: 21.68rem;
    align-self: center;
    margin: 1rem 0;
  }

  .interests {
    input {
      width: 347px;
    }
  }

  button[type="submit"] {
    margin-top: 2rem;
    border: none;
    height: 3rem;
    width: 10rem;
    border-radius: 3rem;
    background: $color-blue;
    font-weight: 700;
    color: white;
    font-size: .85rem;
    align-self: center;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
