@import '../../../../../assets/sass/base/variables';
@import '../../../../../assets/sass/abstracts/mixins';


.friends__suggested{
    @include cardview;

    width: inherit;
    //height: 202px;

    &__down{
        display: flex;
        flex-direction: column;
        
        &__item{
            display: flex;
            flex-direction: row;
            padding-left: 2rem;

            a:first-child{
                figure{
                    width: 3.1rem;
                    height: 3.1rem;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
    
                    img{
                        height: 100%;
                    }
                }
            }

            a{
                text-decoration: none;
                color: #313131;
                align-self: center;
                font-size: .83rem;
                margin-left: .8rem;
            }
        }
    }
}