<div class="friends__suggested">
  <div class="friends__suggested__header">
      <svg>
          <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-users1"></use>
      </svg>
      <p>Proponowani znajomi</p>
  </div>
  <div class="friends__suggested__down">
      <div class="friends__suggested__down__item">
          <a href="#">
            <figure class="friends__avatar">
                    <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="">
            </figure>
          </a>
          <a href="#">Vladimir Putin</a>
      </div>
  </div>
</div>