<section class="basic-user-settings">
    <div class="settings-panel-wrapper">
      <form (submit)="userBasicSettingsSubmit()" [formGroup]="userBasicSettings">
        <div class="settings-panel-wrapper__row">
          <label class="settings-panel-wrapper__label" for="name">
            Imię
          </label>
          <input id="name" class="settings-panel-wrapper__input fr-input" type="text">
        </div>
        <div class="settings-panel-wrapper__row">
          <label class="settings-panel-wrapper__label" for="surname">
            Nazwisko
          </label>
          <input id="surname" class="settings-panel-wrapper__input fr-input" type="text">
        </div>
        <div class="settings-panel-wrapper__row">
          <label class="settings-panel-wrapper__label" for="birthday">
            Data urodzenia
          </label>
          <app-calendar *ngIf="showCalendar"
                        (onSelectDateEvent)="onSelectBirthday($event)"></app-calendar>
          <input (click)="toggleCalendar()"
                 readonly="readonly"
                 id="birthday"
                 class="settings-panel-wrapper__input fr-input"
                 type="text">
        </div>
        <div class="submit-btn-wrapper">
          <button class="fr-btn-main-blue submit-btn" type="submit">
            Zapisz
          </button>
        </div>
      </form>
    </div>
</section>
