<section class="event-photos">
  <app-main-panel
    [panelContent]="{
    title: 'Zdjęcia',
    iconClass: 'images-icon',
    link: activatedRoute + '/photos',
    marginTop: true}"
    [panelStyles]="{ width: '17rem' }"
    [forSubjectEntries]="true"
    [contentColumned]="false">
    <ng-container *ngIf="(photosLoaded$ | async); else loader">
      <ng-container *ngIf="(photos$|async).length > 0; else noPhotos">
        <app-event-photos-item *ngFor="let photo of (photos$|async)"
                               [photo]="photo"></app-event-photos-item>
      </ng-container>
      <ng-template #noPhotos>
        <span class="fr-default-smaller-font">
          Lista zdjęć jest pusta
        </span>
      </ng-template>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </app-main-panel>
</section>
