<div class="comments comments-popup">
  <div class="comments-popup__form">
      <div class="new-comment">
        <form [formGroup]="commentCreationForm" (ngSubmit)="onSubmit()" class="comments__creation-form">
          <button class="comments-popup__close-btn" (click)="closePopup()">
              <svg class="close_icon">
                  <use xlink:href="../../../assets/images/icon/symbol-defs.svg#icon-cancel-circle"></use>
              </svg>
          </button>

          <textarea formControlName="newMessageContent" placeholder="Napisz wiadomość"></textarea>
          <div>
            <div class="file-btn-wrapper">
                <svg>
                    <use xlink:href="../../../../../assets/images/icon/symbol-defs.svg#icon-image"></use>
                </svg>
          
              <input type="file" name="filename" accept="image/jpeg, image/png" formControlName="image" style="opacity: 0;">
            </div>
        
          <button type="submit">Wyślij</button>
        </div>
      </form>
    </div>
  </div>
</div>