@import "../../../../assets/sass/base/variables";

@keyframes comments-popup-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  animation: comments-popup-anim .5s;

  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, .5);


  position: absolute;
  top: 0;
  left: 0;


  .comments-popup {
    width: 37rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



  }

}
