<div class="profile__main-content__photos">
  <div class="profile__main-content__photos__header">
    <svg>
      <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-images"></use>
    </svg>
    <a href="#" class="section-link">Zdjęcia</a>

    <a href="#" class="profile__main-content__photos__new-btn">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-plus"></use>
      </svg>
    </a>

  </div>
  <div class="profile__main-content__photos__down">
    <a href="#">
      <img src="../../../assets/images/test/adult-background-beard-941693.jpg" alt="">
    </a>
  </div>
</div>
