@import "../../../../assets/sass/base/variables";

.main-panel {
  background-color: $color-bg-grey-footer;
  padding: 1rem;
  width: inherit;
  //border-radius: $panel-border-radius;
  border-radius: 1rem;

  .header {
    display: flex;
    margin-bottom: 1rem;

    .icon {
      width: 20px;
      height: 18px;
    }

    .section-link {
      display: flex;
      align-self: center;
      font-size: 0.8rem;
      margin-left: 0.5rem;
      color: $color-grey-light-2;
      text-decoration: none;

      &--btn {
        background: none;
        border: none;
        outline: none;
      }
    }

    p {
      display: flex;
      align-self: center;
      font-size: 0.8rem;
      margin-left: 0.5rem;
      color: $color-grey-light-2;
    }
  }

  .for-subject-entries {
    ::ng-deep > * {
      margin-right: 0.5rem;
    }
  }
}
