<div
  class="main-panel"
  [ngStyle]="panelStyles"
  [style.margin-top]="panelContent.marginTop ? '2rem' : '0px'"
>
  <div class="header">
    <span class="icon fr-span-icon" [ngClass]="panelContent.iconClass"></span>
    <ng-container *ngIf="panelContent.link !== null; else standardText">
      <a
        *ngIf="!showBtnInsteadOfAnchor"
        routerLink="{{ panelContent.link }}"
        [queryParams]="panelContent.queryParams"
        class="section-link"
        >{{ panelContent.title }}</a
      >
      <button
        class="section-link section-link--btn"
        *ngIf="showBtnInsteadOfAnchor"
        (click)="onLinkClick()"
      >
        {{ panelContent.title }}
      </button>
    </ng-container>
    <ng-template #standardText>
      <p>{{ panelContent.title }}</p>
    </ng-template>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
