@import '../../../../assets/sass/base/variables';

.main-panel{
  background-color: $color-bg-grey-footer;
  padding: 1rem;
  width: inherit;
  border-radius: $panel-border-radius;

  .header{
    display: flex;
    margin-bottom: 1rem;

    svg{
      width: 20px;
      height: 18px;
      fill: $color-grey-light-2;
    }

    .section-link{
      display: flex;
      align-self: center;
      font-size: .8rem;
      margin-left: .5rem;
      color: $color-grey-light-2;
      text-decoration: none;
    }

    p{
      display: flex;
      align-self: center;
      font-size: .8rem;
      margin-left: .5rem;
      color: $color-grey-light-2;
    }
  }

  .content{
    display: flex;
    flex-direction: column;
  }
}
