<div class="new-message"
     [ngStyle]="{'width' : styles.newMessageWidth, 'position': styles.formPosition, 'bottom': styles.formBottomPos}">
  <form (ngSubmit)="onSubmit()">
    <textarea placeholder="Napisz wiadomość"
              #newMessageContent
              [minLength]="1"
              [ngStyle]="{'width' : styles.newMessageFormTextAreaWidth}"></textarea>

    <div>
      <div class="file-btn-wrapper">
        <svg>
          <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-image"></use>
        </svg>

        <input type="file"
               name="filename"
               #image
               accept="image/jpeg, image/png"
               style="opacity: 0;" [ngStyle]="{'top' : styles.newMessageFormFileBtnWrapperInputTop}">
      </div>

      <button type="submit">Wyślij</button>
    </div>
  </form>
</div>
