@import '../../../../../assets/sass/base/variables';

.messages__item{
    display: flex;
    align-items: center;

    &__avatar{
        a{
            figure{
                display: flex;
                justify-content: center;
                width: 6rem;
                height: 6rem;
                float: left;
                border-radius: 50%;
                overflow: hidden;

                img{
                    height: 100%;
                }
            }
        }

    }

    div:last-child{
        width: 527px;
        height: auto;
        background-color: $color-bg-light-grey;
        padding: 1rem;
        margin-left: 1rem;

        a{
            text-decoration: none;
            font-size: .8rem;
            word-break: break-all;
            color: $color-grey-dark;
            transition: all .1s;

            &:hover{
              color: $color-bg-light-grey-2;
            }
        }
    }
}
