<section class="profile-post-list" *ngIf="componentLoaded">
  <span *ngIf="userPosts.length === 0">
    Brak wpisów
  </span>

  <app-profile-post-item *ngFor="let post of userPosts"
                         [isUserProfileOwner]="isUserProfileOwner"
                         [post]="post"
                         [userId]="userId"
                         (removePost)="onRemovePost($event)"
                         (likePost)="onLikePost($event)"
                         (unlikePost)="onUnlikePost($event)"
                         [userAvatarUrl]="userAvatarUrl">
  </app-profile-post-item>
</section>
