<div class="user-safety-settings">
  <div class="settings-panel-wrapper">
    <div class="settings-panel-wrapper__controls-wrapper">
      <div class="settings-panel-wrapper__row">
        <label class="settings-panel-wrapper__label">
          Hasło
        </label>
        <div class="settings-panel-wrapper__column-wrap">
          <input [(ngModel)]="oldPassword"
                 class="settings-panel-wrapper__input fr-m-b-1 fr-input"
                 id="old-password"
                 placeholder="Stare hasło"
                 required
                 type="password">
          <input [(ngModel)]="newPassword"
                 class="settings-panel-wrapper__input fr-input"
                 id="new-password"
                 placeholder="Nowe hasło"
                 required
                 type="password">
        </div>
      </div>
    </div>
    <div class="submit-btn-wrapper">
      <button (click)="onNewPasswordSubmit()"
              class="fr-btn-main-blue submit-btn">
        Zapisz
      </button>
    </div>
  </div>
  <div class="settings-panel-wrapper fr-m-t-2">
    <div class="settings-panel-wrapper__controls-wrapper">
      <div class="settings-panel-wrapper__row">
        <label class="settings-panel-wrapper__label" for="email">
          Email
        </label>
        <input [(ngModel)]="email"
               type="email"
               class="settings-panel-wrapper__input fr-input" id="email"
               required>
      </div>
    </div>
    <div class="submit-btn-wrapper">
      <button (click)="onNewEmailSubmit()"
              class="fr-btn-main-blue submit-btn">
        Zapisz
      </button>
    </div>
  </div>
</div>
