<div class="post-wrapper">
  <div class="post-item">
    <button *ngIf="removeBtnVisible"
            class="remove-post"
            (click)="onRemovePost()">
      &#10006;
    </button>

    <div class="upper-wrapper">
      <div class="avatar-wrapper">
        <figure class="avatar">
          <img src="{{ post.avatarUrl }}" alt="">
        </figure>
      </div>
      <div class="content-wrapper">
        <p class="text-content">
          {{ post.content }}
        </p>
        <img *ngIf="post.imagePath != null"
             src="http://localhost:5000/{{ post.imagePath }}"
             alt="#"
             class="image"/>
      </div>
    </div>

    <div class="bottom-wrapper">
      <button class="comments" (click)="showComments()">
        <span class="icon fr-span-icon"></span>
        <span class="btn-text">
        {{ post.commentsCount }}
      </span>
      </button>

      <button class="likes"
              [ngClass]="post.isPostLikedByUser ? 'unlike-post-btn' : 'like-user-post-btn'"
              (click)="onLikeOrUnlikePost()">
        <!--      <svg>
                <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-heart"></use>
              </svg>-->
        <span class="icon fr-span-icon"></span>
        <span class="btn-text">
        {{ post.likesCount }}
      </span>
      </button>
      <p class="date">
        {{ timePassed }}
      </p>
    </div>
  </div>
  <div *ngIf="(commentsShowed|async)"
       class="comments-wrapper">
    <app-comment-panel [postId]="post.postId"></app-comment-panel>
  </div>
</div>
