<div class="post-item">
  <div class="upper-wrapper">
    <figure class="avatar">
      <img src="{{ avatar }}" alt="">
    </figure>
    <p class="content">
      {{ post.content }}
    </p>
    <img *ngIf="post.image != null"
         src="{{ post.image }}"
         alt="" class="image"/>
  </div>

  <div class="bottom-wrapper">
    <button class="comments">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
      <span>
        {{ post.userPostComments.length }}
      </span>
    </button>
    <button class="likes" (click)="onLikePostBtnClick()">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-heart"></use>
      </svg>
      <span>
        {{ post.userPostLikes.length }}
      </span>
    </button>
    <p class="date">
      {{ timePassed }}
    </p>
  </div>
</div>
