<div @anim class="friend-requests-modal">
  <div class="controls-wrapper">
    <button (click)="onReceivedFriendRequestsBtnClick()"
            [ngClass]="chosenSubpage === 'received-requests' && 'chosen-subpage-btn'"
            class="btn received-friend-requests-btn">
      Otrzymane
    </button>
    <button (click)="onSentFriendRequestsBtnClick()"
            [ngClass]="chosenSubpage === 'sent-requests' && 'chosen-subpage-btn'"
            class="btn sent-friend-requests-btn">
      Wysłane
    </button>
  </div>

  <div class="friend-requests-list-wrapper">
    <app-sent-friend-request-list *ngIf="chosenSubpage === 'sent-requests' && sendFriendRequestsLoaded"
                                  [sentFriendRequests]="sentFriendRequests">
    </app-sent-friend-request-list>

    <app-received-friend-request-list *ngIf="chosenSubpage === 'received-requests' && receivedFriendRequestsLoaded"
                                      [receivedFriendRequests]="receivedFriendRequests">
    </app-received-friend-request-list>
  </div>
</div>
