<section class="chosen-user-settings-subpage">
  <header class="header color-dark-grey fr-m-b-1">
    <ng-container [ngSwitch]="chosenSubpage">
      <h1 *ngSwitchCase="1" class="title">Podstawowe</h1>
      <h1 *ngSwitchCase="2" class="title">Edukacja</h1>
      <h1 *ngSwitchCase="3" class="title">Zainteresowania</h1>
      <h1 *ngSwitchCase="4" class="title">Inne</h1>
      <h1 *ngSwitchCase="5" class="title">Bezpieczeństwo</h1>
    </ng-container>
  </header>
  <ng-container [ngSwitch]="chosenSubpage">
    <app-basic-user-settings *ngSwitchCase="1"></app-basic-user-settings>
    <app-user-education-settings *ngSwitchCase="2"></app-user-education-settings>
    <app-user-interests-settings *ngSwitchCase="3"></app-user-interests-settings>
    <app-user-other-settings *ngSwitchCase="4"></app-user-other-settings>
    <app-user-safety-settings *ngSwitchCase="5"></app-user-safety-settings>
  </ng-container>
</section>
