@import '../../../../../../assets/sass/base/variables';

.chosen-user-settings-subpage{
  float: left;
  width: 85%;
  min-height: 100vh;
  padding-top: 1.5rem;
  background-color: $color-bg-light-grey;
}
