<section class="dialog-page">
  <section>
    <ng-container *ngIf="isChatFriendDataLoaded">
      <app-chat-friend-data [chatFriendData]="chatFriendData"
                            [chatHash]="chatHash"></app-chat-friend-data>

      <app-chat-message-list [chatFriendData]="chatFriendData"
                             [chatHash]="chatHash"></app-chat-message-list>
    </ng-container>

    <app-new-message-in-dialog-form [chatHash]="chatHash"></app-new-message-in-dialog-form>
  </section>

  <section>
    <app-chats-in-dialog-panel></app-chats-in-dialog-panel>
  </section>
</section>
