<div class="post-item">
  <button *ngIf="isUserProfileOwner" class="remove-post" (click)="onRemovePostBtnClick()">
    &#10006;
  </button>
  <div class="upper-wrapper">
    <div class="avatar-wrapper">
      <figure class="avatar">
        <img src="{{ userAvatarUrl }}" alt="user's avatar">
      </figure>
    </div>
    <div class="content-wrapper">
      <p class="text-content">
        {{ post.content }}
      </p>
      <img *ngIf="post.imagePath != null"
           src="http://localhost:5000/{{ post.imagePath }}"
           alt="#"
           class="image"/>
    </div>
  </div>

  <div class="bottom-wrapper">
    <button class="comments">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-bubble"></use>
      </svg>
      <span>
        {{ post.commentsCount }}
      </span>
    </button>

    <button class="likes"
            [ngClass]="post.isPostLiked ? 'unlike-post-btn' : 'like-user-post-btn'"
            (click)="onLikeOrUnlikePost()">
      <svg>
        <use xlink:href="../../assets/images/icon/symbol-defs.svg#icon-heart"></use>
      </svg>
      <span>
        {{ post.likesCount }}
      </span>
    </button>
    <p class="date">
      {{ timePassed }}
    </p>
  </div>
</div>
