<div class="user-event-item" [ngStyle]="styles">
    <div class="avatar">
      <a [routerLink]="['/app/event', eventData.id ]">
        <figure>
            <img src="{{ eventData.avatarPath }}" alt="event avatar">
        </figure>
      </a>
    </div>

    <div class="info">
      <a [routerLink]="['/app/event', eventData.id ]"
         class="title fr-hover-text-decoration">
        {{ eventData.title }}
      </a>

      <div class="location">
          <span class="fr-span-icon icon-location"></span>
          <span class="text">{{ eventData.street }} {{ eventData.streetNumber }},{{ eventData.city }}</span>
      </div>

      <div class="date">
          <span class="fr-span-icon icon-calendar"></span>
          <span class="text">{{ eventData.date }}</span>
      </div>

      <div class="participants">
          <span class="fr-span-icon icon-participants"></span>
          <span class="text">{{ eventData.currentParticipantsAmount }} z {{ eventData.participantsAmount }} uczestników</span>
      </div>

      <ng-container *ngIf="showControls">
        <hr>

        <div class="controls">
          <ng-container *ngIf="chosenType === 'participating'
          || chosenType === 'administered'; else nonparticipatingEventControls">
            <button class="btn leave-event-btn">
              <span class="text fr-hover-text-decoration"
                    (click)="leave()">wypisz
                się</span>
              <span class="icon icon-close"></span>
            </button>
            <!--<button class="btn notifications-off-btn">
              <span class="text">wyłącz powiadomienia</span>
              <span class="icon icon-notifications"></span>
            </button>-->
          </ng-container>
          <ng-template #nonparticipatingEventControls>
            <button class="btn fr-btn-main-blue" (click)="apply()">
              <span class="text">Złóż wniosek</span>
            </button>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
