@import '../../../../../assets/sass/base/variables';

.messages-sort{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 320px;
    background-color: $color-bg-light-grey;
    
    button{
        text-decoration: none;
        font-size: .8rem;
        color: $color-grey-dark;
        text-align: left;
        background: none;
        border: none;

        &:not(:last-child){ margin-bottom: .5rem; }
    }
}
