<div class="participant-controls">
  <button class="btn fr-btn-main-pink" (click)="onLeaveBtnClick()">
    <span>wypisz się</span>
    <svg class="icon">
      <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-cancel-circle"></use>
    </svg>
  </button>
  <button class="btn fr-btn-main-pink">
    <span>wyłącz powiadomienia</span>
    <svg class="icon">
      <use xlink:href="../../../../assets/images/icon/symbol-defs.svg#icon-notifications"></use>
    </svg>
  </button>
</div>
