@import "../../../../../../../../../assets/sass/base/variables";

.non-participant-controls {
  display: flex;
  align-items: center;
  border: none;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  .btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    .text {
      color: $color-grey-light-2;
      font-size: 0.82rem;
      margin-right: 0.5rem;
    }

    .icon {
      opacity: 0.3;
      width: 1rem;
      height: 1rem;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13z'%3E%3C/path%3E%3Cpath d='M21 8l-5 5-5-5-3 3 5 5-5 5 3 3 5-5 5 5 3-3-5-5 5-5z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}
