@import '../../../../assets/sass/base/variables';

.transparent-bg-modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .inner-wrapper{
    min-width: 40rem;
    height: 45vh;
    position: absolute;
    top: 1rem;
    left: 17rem;

    .header{
      width: 100%;
      height: 8%;
      position: relative;
      background: $color-blue;

      .close-btn{
        position: absolute;
        top: 5.5px;
        right: 5px;
        border-radius: 50%;
        border: none;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.3rem;
        color: $color-grey-dark;
        background: white;
      }
    }

    .content-wrapper{
      height: 93%;
    }
  }

  .bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: pointer;
  }
}
